.banner-wrap
  padding-bottom: 50%
  position: relative
  overflow: hidden
  +breakpoint(xlarge up)
    padding-bottom: 44%
  +breakpoint(small only)
    padding-bottom: 15%
  +breakpoint(medium only)
    padding-bottom: 0
  .clearfix
    position: absolute
    width: 100%
    height: 100%
    .floated
      width: 50%

    +breakpoint(medium only)
      .square
        &:before
          padding-bottom: 67%

    +breakpoint(medium down)
      position: relative
      .floated
        width: 100%
        float: none

    +breakpoint(small only)
      .square
        &:before
          padding-bottom: 80%

  .content-block
    +y-align
    width: 100%
    +breakpoint(medium only)
      top: 7%
      +translate(0,0)
  .inner
    width: 100%
    color: white
    .icon-box
      display: inline-block
      // margin-bottom: 20px
      position: relative
      &:before, &:after
        content: ""
        position: absolute
        height: 100vh
        background: rgba(white, 0.1)
        width: 1px
        top: -270px
        bottom: 0
      &:before
        left: 0
      &:after
        right: 0
      svg
        fill: white
        padding: 10px
        width: 70px
        height: 70px
        padding: 15px
    .sub-title
      padding: 30px 0 10px
      position: relative
      font-weight: 300
      &:before
        content: ""
        position: absolute
        height: 1px
        width: 1100px
        top: 0
        right: 300px
        left: -270px
        background: rgba(white, 0.1)
      
    .title
      text-transform: uppercase
      font-size: 40px
      font-weight: 800
      font-family: tornado
      padding-bottom: 50px
      letter-spacing: 8px

  +breakpoint(medium only)
    .inner
      padding-bottom: 60px
      .icon-box
        display: none


  +breakpoint(small only)
    .content-block
      top: 100px
      +translate(0,0)
    .inner
      text-align: center
      padding-bottom: 0
      .title
        font-size: 26px
    .banner-box-navigation
      display: none


