.filter-mobile, .filter-mobile-price
  position: fixed
  top: 0
  bottom: 0
  right: 0
  height: 100vh
  width: 80%
  z-index: 2000
  background: white
  +translate(100%,0)
  +transition(.5s)

  &.visible
    +translate(0,0)

  .head-container
    width: 100%
    .inner
      position: relative
      padding: 15px 20px
      .name-filter
        display: inline-block
        .title
          color: white
          font-size: 18px
          font-weight: 600
          letter-spacing: 1px
          text-transform: uppercase
        .sub-title 
          font-size: 10px
          text-transform: uppercase
          color: rgba(white, 0.5)
          letter-spacing: 2px

      svg
        width: 30px
        position: absolute
        right: 20px
        *
          fill: white

  .filter-inner
    padding: 20px
    height: calc(100% - 135px)
    overflow: auto
    .title
      font-weight: 600
      color: $dark
      padding-bottom: 10px

  .button
    position: absolute
    bottom: 0
    right: 0
    left: 0

  .radio-box
    position: relative
    margin-bottom: 20px
    input
      position: absolute
      visibility: hidden

    label
      display: block
      position: relative
      font-weight: 400
      font-size: 16px
      color: $light-blue
      z-index: 9
      cursor: pointer
      -webkit-transition: all 0.25s linear


    .check
      display: block
      position: absolute
      border: 3px solid $light-blue
      border-radius: 100%
      height: 20px
      width: 20px
      top: 50%
      +translate(0,-50%)
      right: 0
      z-index: 5
      transition: border .25s linear
      -webkit-transition: border .25s linear
      
      &:before
        display: block
        position: absolute
        content: ''
        border-radius: 100%
        height: 10px
        width: 10px
        top: 2px
        left: 2px
        margin: auto
        transition: background 0.25s linear
        -webkit-transition: background 0.25s linear



    input[type=radio]:checked ~ .check 
      border: 3px solid $blue


    input[type=radio]:checked ~ .check::before
      background: $blue

    input[type=radio]:checked ~ label
      color: $blue

