.footer-container
  background: $dark
  .footer-inner
    padding: 100px 0
  .title
    font-size: 12px
    color: rgba(white, 0.3)
    padding-bottom: 20px
  .logo
    text-align: left
    svg
      width: 160px
      height: 100%


  .number
    display: block
    padding-bottom: 10px
    color: white

  .input-field
    button.svg
      position: absolute
      right: 0
      top: 0
      bottom: 0
      width: 42px
      height: 44px
      background: $blue
      svg
        width: 42px
        height: 44px
        padding: 12px
        *
          fill: white
  +breakpoint(medium down)
    .footer-inner
      padding: 50px 0
    .logo
      display: none
  +breakpoint(small only)
    .footer-inner
      padding: 30px 0
    .title
      padding-bottom: 10px
    .socials, .input-field
      padding-bottom: 25px

  .sub-footer
    padding: 30px 0
    border-top: 1px solid rgba(white, 0.15)
    +clearfix
    .v-logo
      display: inline-block
      svg
        width: 30px
        height: 30px
        *
          fill: $blue
      span
        padding-left: 10px
        color: rgba(white, 0.3)
        display: inline-block
        font-size: 12px
    .footer-nav
      float: right
      display: inline-block
      li
        display: inline-block
        margin-right: 20px
        +transition(.3s)
        .nav
          font-size: 12px
          color: rgba(white, 0.3)
        &:hover
          .nav
            color: $blue
      
    +breakpoint(small only)
      text-align: center
      margin: 30px 20px
      padding: 0
      .v-logo
        svg
          margin: auto
          margin-top: 10px
          display: block
      .footer-nav
        display: none


.socials
  .svg-box
    border: 1px solid white
    display: inline-block
    margin-right: 10px
    width: 44px
    height: 44px
    cursor: pointer
    +transition(.3s)
    svg
      width: 40px
      height: 44px
      padding: 5px
      *
        fill: white
    &:hover
      svg
        *
          fill: $blue

  &.menu-bbm
    .svg-box
      svg
        *
          fill: $blue
      &:hover
        svg
          *
            fill: rgba(white, 0.6)

