.input-field
  position: relative
  input, textarea, select
    display: block
    padding: 10px 0
    width: 100%
    border: none
    outline: none
    background-color: transparent
    border-bottom: 1px solid white
    line-height: 1.5
    &:focus
      outline: none
  label
    font-size: 0.875rem
    position: absolute
    left: 0
    pointer-events: none
    top: 15px
    transition: all 0.2s ease
    color: $dark
    font-style: italic
    &.smaller
      font-size: 0.75rem
    // text-transform: uppercase
  .bar
    position: relative
    display: block
    width: 100%
    &:before, &:after
      content: ''
      height: 1px
      width: 0
      bottom: 0
      position: absolute
      background: $dark
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    &:before
      left: 0
  input:focus ~ .bar, input.used ~ .bar
    &:before
      width: 100%
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    color: $dark
    top: -2px
    font-size: 0.5em

  &.with-border
    input, textarea, select
      border: 1px solid $grey
      padding: 20px 0 20px 50px
      color: $blue

    label
      top: 22px
      left: 50px
      transition: all 0.2s ease
      color: $grey
      font-style: normal
      // font-style: italic
      // text-transform: uppercase

    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: transparent
      top: 15px
      font-size: 0.875rem
    
    input:focus, input.used, textarea:focus, textarea.used
      border: 1px solid $blue

    input:focus ~ svg, input.used ~ svg, textarea:focus ~ svg, textarea.used ~ svg
      fill: $blue !important

  &.footer
    input
      border-bottom: 1px solid white
    label, input
      color: white

    .bar
      &:before, &:after
        background: $blue
      &:before
        width: 100%  

    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: white
      top: -2px
      font-size: 0.5em


  &.width-bottom-border
    input
      border-bottom: 1px solid $light-blue
      padding: 10px 0 10px 50px
    label
      color: $blue
      letter-spacing: 1px
      padding-left: 30px
    .bar
      background: $dark
      &:before, &:after
        background: $blue
        left: 0

    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      color: white
      top: -2px
      font-size: 0.5em

    button.svg
      position: absolute
      left: -10px
      top: 3px
      width: 38px
      height: 39px
      svg
        width: 38px
        height: 38px
        padding: 9px
        *
          fill: $blue
