.header-container
  position: fixed
  // top: 0
  padding: 16px 30px
  width: 100%
  background: $dark
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  +transition-property(transform)
  +transition-duration(1s)
  +translate(0,-100%)
  z-index: 100
  &.scrolled, &.visible
    +translate(0,0)

  &.main-page-header
    background: transparent
    &.scrolled
      background: $dark
  +breakpoint(small only)
    padding: 10px 15px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    .right-part
      .hamburger 
        padding: 0

  +breakpoint(xlarge only)
    padding: 7px 30px  

  .logo, .right-part
    align-self: center
    display: inline-block
  .logo
    svg
      width: 150px
      height: 100%
      vertical-align: middle
      +breakpoint(small only)
        .text
          display: none
  a.phone
    color: $blue
    padding: 20px 0 0 40px
    font-weight: 600
    letter-spacing: 1.5px
    vertical-align: super
    span
      color: white
    +breakpoint(medium down)
      display: none
  .right-part
    margin-left: auto
    display: inline-block
    float: right
    .comparison-box, .likes-box
      display: inline-block
      padding-right: 30px
      vertical-align: text-bottom
      cursor: pointer
      svg
        fill: $blue
        width: 25px
        height: 25px
        vertical-align: middle
      span
        font-size: 16px
        color: $blue
        vertical-align: middle
        font-weight: 600
        margin-left: 5px

    .search-box
      display: inline-block
      cursor: pointer
      vertical-align: text-top
      svg
        width: 20px
        height: 20px
        fill: white
      span
        text-transform: uppercase
        font-size: 14px
        vertical-align: super
        color: $white
        letter-spacing: 1px
        padding-right: 20px

    +breakpoint(medium down)
      .comparison-box, .likes-box, .search-box
        padding-right: 10px
      .search-box
        span
          display: none

.baner-burger-menu
  .img-content-box
    position: relative
    height: 50vh
    overflow: hidden
  .inner
    padding: 100px
    color: white
    .icon-box
      display: inline-block
      position: relative
      &:before, &:after
        content: ""
        position: absolute
        height: 50vh
        background: rgba(white, 0.1)
        width: 1px
        top: -100px
        bottom: 0
      &:before
        left: 0
      &:after
        right: 0

      svg
        fill: white
        padding: 10px
        width: 70px
        height: 70px

    .title
      text-transform: uppercase
      position: relative
      letter-spacing: 8px
      font-size: 40px
      font-weight: 800
      font-family: tornado
      margin-bottom: 50px
      display: inline-block
      padding-left: 30px
      vertical-align: top
      line-height: 1.9
      &:before, &:after
        content: ""
        position: absolute
        height: 1px
        background: rgba(white, 0.1)
        width: 2000px
        left: -200px
        right: 0
      &:before
        top: 0
      &:after
        bottom: 0
  +breakpoint(small only)
    .img-content-box
      display: none
          
.hamburger-inner
  width: 30px
  height: 2px
  border-radius: 0
  background: white
  &:before, &:after
    width: 30px
    height: 2px
    border-radius: 0
    background: white
  &:after
    top: -16px !important
  &:before
    top: -8px