body
  position: relative
  .baner-burger-menu
    background-color: $black
    position: fixed
    top: 0
    right: 0
    left: 0
    width: auto
    pointer-events: none
    opacity: 0
    // transform: translate(100%,0%)
    transition: 0.5s
    z-index: 1001
    height: 100vh
    +breakpoint(medium only)
      // width: 30%
    +breakpoint(small only)
      width: 100%
      // top: 65px
    .bbm-nav-part
      position: absolute
      top: 0
      right: 0
      bottom: 0
      background: $dark
      width: 30%
      .close-menu
        position: absolute
        top: 20px
        right: 55px
        cursor: pointer
        +transition(.3s)
        svg
          width: 30px
          height: 30px
          fill: white
        &:hover
          svg
            fill: $blue
      .baner-link
        padding: 10px 0
        list-style: none
        display: block
        text-align: left
        &:last-child
          border-right: 1px solid transparent
        a 
          color: white
          +transition(.3s)
          text-decoration: none
          font-weight: 700
          font-size: 26px
          letter-spacing: 2px
          text-transform: uppercase
          font-family: tornado
          letter-spacing: 5px
          &:hover
            color: $blue
        +breakpoint(medium down)
          display: block
          border-right: 1px solid transparent
          width: 100%
          padding: 30px 0

      .bbm-call-box, .bbm-socials-box, .bbm-nav-box
        padding: 50px 0 0 100px
        +breakpoint(xlarge down)
          padding: 20px 0 0 100px
        .title
          font-size: 14px
          text-transform: uppercase
          font-weight: 600
          font-family: tornado
          margin-bottom: 40px
          letter-spacing: 3px
          text-transform: uppercase
          color: rgba(white, 0.6)
          position: relative
          .line
            position: absolute
            width: 50px
            bottom: -13px
            background: rgba(white, 0.6)
      .bbm-nav-box
        padding: 100px 0 100px 100px
        +breakpoint(xlarge down)
          padding: 20px 0 0 100px
        
      .bbm-call-box
        .number
          display: block
          color: white
          font-size: 18px
          margin-bottom: 10px
          span
            color: $blue
      
      +breakpoint(medium only)
        width: 35%
        .bbm-call-box, .bbm-socials-box, .bbm-nav-box
          padding: 20px 40px 40px
        .bbm-nav-box
          .baner-link
            padding: 20px 0
            a
              font-size: 20px
      +breakpoint(small only)
        width: 100%
        .bbm-call-box, .bbm-socials-box, .bbm-nav-box
          padding: 50px 20px 0
        
        .bbm-nav-box
          ul
            column-count: 2
            .baner-link
              padding: 5px 0
              a
                font-size: 20px
  &.opened
    overflow: hidden
    .baner-burger-menu
      pointer-events: initial
      // transform: translate(0,0)
      opacity: 1

  &.opened-serch
    overflow: hidden
    .bg_cover
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 1000



