.banner-box-navigation
  width: 100%
  position: relative
  &:after
    content: ""
    position: absolute
    height: 1px
    width: 1100px
    bottom: 0
    right: 300px
    left: -270px
    background: rgba(white, 0.1)
    +breakpoint(xlarge only)
      width: 816px
  li
    display: inline-block
    width: calc((100% / 3) - 40px)
    margin-right: 40px
    .nav-li
      .svg-nav
        display: inline-block
        margin: 0 10px 15px 0
        svg
          width: 35px
          height: 45px
        span
          padding: 0 5px
          position: relative
          top: -10px
          text-transform: uppercase
          font-weight: 400
          +transition(.2s)
          cursor: pointer
          &:before
            content: "\203A"
            display: inline-block
            position: absolute
            right: -10px
            top: -10px
            font-weight: 300
            font-size: 25px
            color: white
          +breakpoint(xlarge down)
            font-size: 0.875rem
      +breakpoint(medium only)
        .square
          &:before
            padding-bottom: 60%

      .square
        &.blue-border
          border-left: 5px solid $blue
        &.orange-border
          border-left: 5px solid $orange
  
      &:hover
        span
          &.blue-hover
            color: $blue
            &:before
              color: $blue
          &.orange-hover
            color: $orange
            &:before
              color: $orange
        // .square
        //   &.blue-border
        //   border-left: 5px solid $blue
        //   &.orange-border
        //     border-left: 5px solid $orange
  &.burger
    margin-left: 100px
    li
      width: initial
      +breakpoint(medium only)
        display: block


.video-wrap
  height: 100%
  position: absolute
  width: 50%
  background-color: $dark
  .video-item
    height: 100%
    iframe
      height: 100%
      width: 100%
    .video-control-info-panel
      width: 100%
      height: 100%
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      display: none
      .image
        max-width: 100%
        width: 100%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
        height: 100%
      .video-play-button
        background-color: $blue
        cursor: pointer
        width: 60px
        height: 60px
        position: absolute
        bottom: 10%
        left: -3%
        img
          height: 50px
          border-radius: 50%
          box-shadow: 0px 3px 5px rgba(0,0,0,0.3)
        +breakpoint(small only)
          left: initial
          right: 20px
          bottom: -10%
          z-index: 1


      &.active-youtube-panel
        display: block

.call-box, .mail-box
  position: relative
  margin: 15px 0
  .number
    display: block
    color: $dark
    font-weight: 600
    margin-bottom: 5px
    line-height: 0.8
  .svg-box
    position: absolute
    top: -2px
    left: 0
    svg
      width: 20px
      height: 20px
      vertical-align: middle
  .mail
    display: block
    color: $dark
    font-weight: 600

.breadcrumb-wrap
  background: #f4f4f4
  ul.breadcrumb
    li
      position: relative
      display: inline
      font-size: 12px
      font-weight: 500
      &:after
        padding: 8px
        color: $blue
        content: "\203A"
        display: inline-block
        font-size: 14px
      a
        color: $dark
        padding: 10px 0
      &:last-child
        &:after
          display: none
        a
          color: $light-blue


.info-manager-box
  background: $light-silver
  position: relative
  .inner
    padding: 20px
    .manager-image
      position: relative
      height: 100px
      width: 100px
      .img-bg
        border-radius: 50%
    .manager-info
      p
        font-size: 13px
      h3.h3
        font-size: 21px
        font-weight: 700
        text-transform: uppercase
        padding: 20px 0 10px
        letter-spacing: 2px

      .call-box, .mail-box
        padding-left: 30px

    h4.type
      text-transform: uppercase
      letter-spacing: 1px
      padding-bottom: 5px
      font-family: tornado

    .location
      color: $light-blue
      font-weight: 500

    .call-me
      padding: 20px
      margin-top: 50px
      .title
        color: white
        letter-spacing: 1px
        text-transform: uppercase
        font-weight: 500
        padding-bottom: 10px
      .input-field
        button.svg
          position: absolute
          right: 0
          top: 0
          bottom: 0
          width: 25px
          height: 44px
          background: white
          svg
            width: 25px
            height: 47px
            padding: 9px
            *
              fill: $dark

  &.apartanent
    background: transparent
    // border-right: 1px solid $grey300
    &:before
      content: ""
      position: absolute
      right: 30px
      top: 0
      bottom: 0
      background-color: $grey300
      width: 1px
      height: 100%

    .inner
      padding: 0 100px 0 0
      .manager-image
        height: initial
        width: 100%
        .img-bg
          border-radius: 0
    +breakpoint(medium only)
      &:before
        right: 10px
      .inner
        padding: 0 50px 0 0
    +breakpoint(small only)
      &:before
        display: none
      .inner
        padding: 0 0 20px 0
        .manager-info
          padding: 0
        .call-me
          min-width: 355px


  +breakpoint(small only)
    .inner
      .manager-image
        display: inline-block
        height: 60px
        width: 60px
        vertical-align: top
        .img-bg
          border-radius: 0
      .manager-info
        padding-left: 30px
        display: inline-block
        p
          display: none


.short-info
  padding-top: 30px
  h4.sub-title
    font-size: 16px
    color: $dark
    font-weight: 500
    letter-spacing: 1px
  h2.h2 
    font-size: 36px
    text-transform: uppercase
    font-weight: 700
    color: $dark
    +transition(.3s)
  .map-position
    p 
      font-size: 14px
      color: $grey
      padding-right: 30px
      display: inline-block
    a
      font-size: 14px
      text-transform: lowercase
      cursor: pointer
      svg
        width: 20px
        height: 20px

  h3, .price
    font-size: 32px
    padding: 20px 0
    span
      font-size: 16px
      font-weight: 400
      color: $light-blue
      padding-left: 10px
      letter-spacing: 1px

  .characteristics-info
    background: #f9f9f9
    display: inline-block
    margin-right: 20px
    .characteristics-one
      padding: 10px
      color: $light-blue
      svg
        width: 20px
        height: 20px
        vertical-align: sub
        // path
        //   fill: $dark
      .title
        display: inline-block
        padding: 0 5px 0 2px
        color: $light-blue
      span.figures
        font-size: 18px
        color: $dark
        padding-right: 5px
        font-weight: 600

      +breakpoint(small only)
        .title
          padding: 5px 5px 5px 2px


  .description
    p
      font-size: 16px
      padding: 30px 0
      
  &.apartanent
    padding-top: 10px
    h4.sub-title
      font-size: 14px
    h2.h2 
      font-size: 24px
    .map-position
      a
        display: block
        border-bottom: 1px solid $grey300
        padding-bottom: 5px
        svg
          vertical-align: middle
          width: 16px
          height: 15px

    h3, .price
      padding: 7px 0

    .characteristics-info
      background: transparent
      .characteristics-one
        padding: 0

  +breakpoint(small only)
    h3, .price
      padding: 5px 0
    .map-position
      a
        display: block
    .description
      p
        padding: 15px 0
    .characteristics-info
      .characteristics-one
        padding: 0 10px 0 0 !important


.range-info
  padding: 40px 0 0 50px
  +breakpoint(small only)
    padding: 0 0 0 25px
  .range-one
    margin-top: 40px 
    +clearfix
    position: relative
    .min-value, .max-value
      font-size: 16px
      color: $grey
      position: absolute
      top: 18px
      padding-top: 5px
      span
        color: $dark
        padding-left: 5px
    .min-value
      left: 0
    .max-value
      right: 0

    .range-input-p, .range-input-m
      margin-top: 20px

    .layout-slider
      width: 100%
      span
        display: inline-block 
        width: 400px
        padding: 0 5px



.go-back-btn
  display: block
  width: 100%
  border-bottom: 1px solid rgba($dark, 0.1)
  padding-bottom: 15px
  margin-top: 30px
  svg
    vertical-align: bottom
    fill: $blue
  span
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px
    padding-left: 10px
    color: $dark