// .popup-wrapper

//   position: fixed
//   width: 100%
//   height: auto
//   min-height: 100vh
//   background: rgba($brown900, .97)
//   z-index: 9999
//   opacity: 0
//   pointer-events: none
//   +transition(0.25s)

//   .close-popup
//     position: absolute
//     top: 30px
//     right: 30px
//     width: 20px
//     height: 20px
//     cursor: pointer
//     svg
//       width: 100%
//       height: 100%
//       fill: $brown200
//     &:hover
//       svg
//         fill: #F8F7F3

.apartaments-filter-popup, .popup-one-apartament
  display: none
  position: fixed
  top: 50%
  left: 50%
  z-index: 1000
  background: white
  width: 80%
  pointer-events: none
  +translate(-50%,-50%)
  &.visible
    display: block
    pointer-events: initial
    +breakpoint(small only)
      height: 100%
      overflow: auto
      width: 100%

.apartaments-filter-popup
  .button
    +x-align
    bottom: -30px
    padding: 0 60px 
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3)
    &:hover
      box-shadow: -7px 8px 50px rgba(0, 0, 0, 0.35)
    +breakpoint(small only)
      position: relative
      bottom: -50px
  .filters-content
    display: none
    &.active
      display: block
    .inner
      padding: 0 100px 100px 100px
    .head-title
      font-size: 14px
      font-weight: 700
      font-family: tornado
      text-transform: uppercase
      color: $black
      background: $grey50
      padding: 10px 20px
      letter-spacing: 1px
      margin-bottom: 30px
      text-align: center
    .title
      padding-bottom: 20px
      color: $black
      letter-spacing: 1px
    .drop-down-box
      +clearfix
      padding-bottom: 20px
      .nice-select
        margin-left: 0
        margin-bottom: 10px

    .currency
      .sub-title
        font-size: 12px
        color: $dark
        font-weight: 700
        padding-bottom: 20px
        text-transform: capitalize
    .range-info
      padding: 0
      .range-one
        margin-top: 0
        .sub-title
          position: absolute
          top: -10px
          font-size: 12px
          color: $dark
          font-weight: 700
          text-transform: capitalize
        .max-value, .min-value
          font-size: 14px
          top: 20px
        &:last-child
          margin-top: 60px

    +breakpoint(small only)
      .inner
        padding: 0 20px 10px 10px
    +breakpoint(medium only)
      .inner
        padding: 0 20px 100px 10px

.checkbox-box
  padding-bottom: 20px
  .one-checkbox
    margin-bottom: 10px
    .checkbox
      position: relative
      .switcher-control
        display: block
        svg
          width: 20px
          fill: $light-blue
          path, g, line
            fill: $light-blue
            stroke: none

        span
          padding-left: 5px
          font-size: 12px
          font-family: tornado
          font-weight: 700
          color: $light-blue
          text-transform: capitalize
          letter-spacing: 1px
          vertical-align: super



.popup-one-apartament
  width: 500px
  max-width: 100%
  .close-popup
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    svg
      width: 20px
      height: 20px

  .inner
    padding: 20px 
    .title
      font-size: 36px
      text-transform: uppercase
      color: $dark
    .sub-title
      font-size: 16px
      color: $light-blue
      padding: 20px 0
    form
      padding-bottom: 50px
    .input-field
      margin-bottom: 23px
      svg
        position: absolute
        left: 10px
        top: 22px
      
        width: 25px
        height: 20px
        path
          fill: $grey
    button.button
      width: 100%
      position: absolute
      bottom: 0
      right: 0
      left: 0
      