.checkbox
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked
    position: absolute
    left: -9999px

  [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label
    position: relative
    // padding-left: 1.95em
    cursor: pointer


  [type="checkbox"] + label:before
    width: 16px
    height: 16px
    right: 0
    top: 0
    position: absolute
    content: ''
    background-color: transparent
    border: 2px solid #8fa3ad
  //border: 2px solid $lite-orange

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before
  //background: #fff
  //box-shadow: inset 0 1px 3px rgba(0,0,0,.1)
  [type="checkbox"]:checked
    & + label
      svg
        path, g
          fill: #00a5cd !important
          stroke: none

      span 
        color: #00a5cd !important

    & + label:before
      border-color: transparent
      background: #00a5cd
      box-shadow: inset 0 1px 3px rgba(0,0,0,.1)


  [type="checkbox"]:checked + label:after


  /* checked mark aspect */
  [type="checkbox"] + label:after
    content: '✔'
    // content: ""
    // background-image: image_url("svg/check.svg")
    background-size: cover
    position: absolute
    width: 20px
    height: 20px
    right: -5px
    //top: -1px
    top: 2px
    // left: 2px
    font-size: 1em
    line-height: 0.8
    color: white
    transition: all .2s

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after
    opacity: 0
    transform: scale(0)

  [type="checkbox"]:checked + label:after
    opacity: 1
    transform: scale(1)

  [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before
    box-shadow: none
    border-color: #bbb
    background-color: #ddd
