.about-us-wrap
  .about-us-baner
    .banner-inner
      = inline_svg "svg/logo2.svg"

      p Мережа Агентств Нерухомості "Маттіс" пропонує Вашій увазі широкий спектр послуг, повязаних із нерухомістю, до складу яких входять: операції купівлі - продажу нерухомості, коротко-і-довстрокова оренда, подобова оренда та комерційна оренда нерухомості.

  .info-company-wrap.section-indent
    .row
      .medium-4.columns
        .info
          .figure 25
          .inner-info
            .title Менеджерів
            p Професійних менеджерів які допоможуть вам обрати саме те що ви шукали
      .medium-4.columns
        .info
          .figure 848
          .inner-info
            .title Обєктів
            p Різних обєктів на любий смак ми пропонуємо вам пошукати у нас
      .medium-4.columns
        .info
          .figure 13
          .inner-info
            .title Офісів
            p Наша компанія велика-велика і в нас багато-багато офісів у різних далеких куточках України.

= render "video_wrap"

.galery-wrap.section-indent
  .row
    .columns
      p.section-title офіси

  .row.collapse
    .medium-5.columns
      .square
        .img-bg style="background-image: url(#{asset_path('img/about-gallery.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245

      .square
        .img-bg style="background-image: url(#{asset_path('img/about-gallery-2.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245

    .medium-4.columns
      .square-0-5x
        .img-bg style="background-image: url(#{asset_path('img/about-gallery-3.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245

      .square-1-5
        .img-bg style="background-image: url(#{asset_path('img/about-gallery-4.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245

    .medium-3.columns
      .square-2-x
        .img-bg style="background-image: url(#{asset_path('img/about-gallery-5.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245

      .square-2-x
        .img-bg style="background-image: url(#{asset_path('img/about-gallery-6.jpg')})"
        .hover-block
          h4.sity.regular Львів
          p.location.smaller Остоградських 48, офіс 245
          

= render partial: "all_managers_wrap", locals: { page_name: "about-us"}

