.apartaments-page-wrap.pt
  .breadcrumb-wrap
    .row
      .columns
        ul.breadcrumb
          li
            a href="" Головна
          li
            a href="" Житлова нерухомість

  .apartaments-page-header
    .row
      .columns
        .title.blue ЖИтлова нерухомість
        .filter-info
          | 123&nbsp
          span
            | із 
          | 160&nbsp
          span
            | обєктів знайдено

        .filter-top-box.dib
          .currency.dib
            span.active грн 
            span usd

          .filter-price.dib
            span Сортувати:
            .drop-down-box.dib
              select placeholder="фільтер по ціні"
                / option data-display="" оберіть
                option value="1" ціни за зростанням
                option value="2" ціни за спаданням

          a.map-link.dib href="/"
            = inline_svg "svg/location.svg"
            span всі обєкти на карті

  .apartaments-page-content
    .row
      .large-3.columns
        .geheral-filter
          .selected-filter-box
            .inner
              .title обранні фільтри:
              .filters-select
                .name.blue
                  = inline_svg "svg/close.svg"
                  span Оренда
                .name.blue
                  = inline_svg "svg/close.svg"
                  span Оренда

                .clean-filters.blue очистити всі
          = render "filters_apartament"
      .large-9.columns
        .row.columns-left
          - 9.times do |e|
            .medium-6.large-4.columns
              .one-apartament
                a.square href=apartaments_one_path
                  .img-bg style="background-image: url(#{asset_path('img/house-1.jpg')})"
                  .type-apartanent.blue-bg
                    = inline_svg "svg/jut-3.svg"
                    span продаж

                .short-info.apartanent
                  h2.h2 Касабланка
                  .map-position
                    p с. Сокільники, вул. Саксаганського, 24
                    a.blue href="/"
                      = inline_svg "svg/location"
                      | на карті
                  h3.price.blue
                    |1 250 00
                    span
                      |грн

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/squers.svg"
                      p.title.smaller Площа:
                      span.figures 240
                      span м
                      sup 2

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/kimnatu.svg"
                      p.title.smaller Кімнати:
                      span.figures 8

    .row
      .columns
        .pagination-container
          .prev-slide.dilb.black = inline_svg "svg/arrow_left.svg"
          span.active 1
          span 2
          span 3
          span ....
          span 14

          .next-slide.dilb.black = inline_svg "svg/arrow_right.svg"

  /// M O B I L E    F I L T E R 

  .apartanent-mobile-filter
    .left-filter-box
      = inline_svg "svg/sort.svg"
      .name-button
        .title.blue Сортування
        .sub-title ціна від більшої
    .right-filter-box
      = inline_svg "svg/filter.svg"
      .name-button
        .title.blue Фільтр
        .sub-title 
          |знайдено 
          span 21