.apartaments-one-wrap.pt
  .breadcrumb-wrap
    .row
      .columns
        ul.breadcrumb
          li
            a href=root_path Головна
          li
            a href=apartaments_page_path Житлова
          li
            a href="" Квартири
          li
            a href="" Шевченка 2х кімнатна
  .row
    .columns
      a.go-back-btn.regular href=apartaments_page_path
        = inline_svg "svg/reply.svg"
        span До списку

  .apartaments-content
    .row
      .medium-6.large-5.columns
        .slider-box
          ul.apartament-one-slider
            li
              .bg-slider.square
                .img-bg style="background-image: url(#{asset_path('img/house-1.jpg')})"
                .type-apartanent.blue-bg
                  = inline_svg "svg/jut-3.svg"
                  span продаж
            li
              .bg-slider.square
                .img-bg style="background-image: url(#{asset_path('img/house2.jpg')})"
                .type-apartanent.blue-bg
                  = inline_svg "svg/jut-3.svg"
                  span продаж

            li
              .bg-slider.square
                .img-bg style="background-image: url(#{asset_path('img/house3.jpg')})"
                .type-apartanent.blue-bg
                  = inline_svg "svg/jut-3.svg"
                  span продаж


          .owl-carousel#apartament-pager
              
            a.one-slider data-slide-index="0"
              .img-bg style="background-image: url(#{asset_path('img/house-1.jpg')})"
            a.one-slider data-slide-index="1"
              .img-bg style="background-image: url(#{asset_path('img/house2.jpg')})"
            a.one-slider data-slide-index="2"
              .img-bg style="background-image: url(#{asset_path('img/house3.jpg')})"
          
          .btn-box
            .prev-slide.black = inline_svg "svg/arrow_left.svg"
            .next-slide.black = inline_svg "svg/arrow_right.svg"

              
      .medium-6.large-6.columns
        .apartament-info-wrap
          h3 Квартира
          .map-position
            p с. Сокільники, вул. Саксаганського, 24
            a.blue href="/"
              = inline_svg "svg/location"
              | на карті

          .info
            .currency
              span.active грн 
              span usd

          
            .price.blue 750 000
            .price2
              | 11 538
              span
                |грн/м
                sup 2
            .square-m
              | 65
              span
                |м
                sup 2

          .buttons-box.desktop
            .button-apartament
              = inline_svg "svg/switcher.svg"
              span Порівняти
              .active-button
                = inline_svg "svg/close.svg"
                span Видалити з порівнянь

            .button-apartament
              = inline_svg "svg/heart.svg"
              span Додати у обрані
              .active-button
                = inline_svg "svg/close.svg"
                span Видалити з обраних

          .svg-box
            a href="/" = inline_svg "svg/print.svg"
            a href="/" = inline_svg "svg/pdf_24px.svg"

          .info-title-type-box
            .title-box
              .title Тип:
              .title Вид операції:

            .type-box
              .title Квартира
              .title Продаж

          .manager-apartament
            .img-manager
              .img-bg style="background-image: url(#{asset_path('photo/sample-2.jpg')})"

            .info-manager
              .sub-title Менеджер:
              .title.blue оксана підбережна
              
              .call-box
                .svg-box.blue
                  = inline_svg "svg/telephone.svg"
                a.number.regular href="+380 96 458 7854" +380 96 458 7854
                a.number.regular href="+380 67 451 4568" +380 67 451 4568

              .mail-box
                .svg-box.blue
                  = inline_svg "svg/mail.svg"
                a.mail.regular href="/" 
                  |oksana
                  span.blue
                    |@
                  |matis.com

            .contact-info.desktop
              a.left-btn href=manager_one_path
                = inline_svg "svg/list.svg"
                span обєкти менеджера
              .right-btn.request-button
                span направити запит

    .apartament-data
      .row
        .medium-6.large-4.columns
          .head-title Основні характеристики:
          .apartaments-parameters
            .title Об'єкт в цілому:
            .inner
              .one-value
                .opinion.blue.smaller Площа квартири:
                .value.smaller
                  |65
                  span
                    |м
                    sup 2

              .one-value
                .opinion.blue.smaller Кількість кімнат:
                .value.smaller 3

              .one-value
                .opinion.blue.smaller Житлова площа:
                .value.smaller
                  |38
                  span
                    |м
                    sup 2

              .one-value
                .opinion.blue.smaller Опаленення:
                .value.smaller центральне

            .title Стан об'єкту:
            .inner
              .one-value
                .opinion.blue.smaller Площа квартири:
                .value.smaller
                  |65
                  span
                    |м
                    sup 2

              .one-value
                .opinion.blue.smaller Кількість кімнат:
                .value.smaller 3

              .one-value
                .opinion.blue.smaller Житлова площа:
                .value.smaller
                  |38
                  span
                    |м
                    sup 2

              .one-value
                .opinion.blue.smaller Опаленення:
                .value.smaller центральне

            .title РІвень 1:
            .inner
              .one-value
                .opinion.blue.smaller Площа квартири:
                .value.smaller
                  |65
                  span
                    |м
                    sup 2

        .medium-6.large-4.columns
          .head-title Примітки:
          .apartaments-description
            p Оренда в самому центрі Івано-Франківська - навпроти Ратуші, найбільш прохідне місце міста, центр розташування кав«ярень та громадського відпочинку! 
            p Приміщення - під кафе, фаст-фуд або інше цільове використання. Загальна площа 73 м.кв., з яких 43 м.кв. - знаходяться на першому поверсі, а 30 м.кв. - в підвалі. Перший поверх з підвалом сполучений внутрішньою сходовою кліткою, в підвалі зроблений ремонт, встановлено батареї від газового котла (індивідуального опалення), працює витяжка - як в підвалі, так і на першому поверсі. 
            p Є місце для розміщення літнього майданчика перед фасадом будинку (фасад виходить на Ратушу). Висота 3,4м.

        .large-4.columns
          .head-title Розташування на карті:
          .apartaments-map
            #map-Lviv


  .similar-objects-wrap
    .row
      .columns
        .content-wrap
          .section-title Схожі обєкти:
          .btn-box
            .prev-slide.dilb.black = inline_svg "svg/arrow_left.svg"
            .next-slide.dilb.black = inline_svg "svg/arrow_right.svg"
        ul.owl-carousel
          - 9.times do |i|
            li
              .one-apartament
                a.square href=apartaments_one_path
                  .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"
                  .type-apartanent.blue-bg
                    = inline_svg "svg/jut-3.svg"
                    span продаж

                .short-info.apartanent
                  h4.sub-title.blue Котедж
                  h2.h2 Касабланка
                  .map-position
                    p с. Сокільники, вул. Саксаганського, 24
                    a.blue href="/"
                      = inline_svg "svg/location"
                      | на карті
                  h3.price.blue
                    |1 250 00
                    span
                      |грн

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/squers.svg"
                      p.title.smaller Площа:
                      span.figures 240
                      span м
                      sup 2

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/kimnatu.svg"
                      p.title.smaller Кімнати:
                      span.figures 8


  .already-reviewed-wrap
    .row
      .columns
        .content-wrap
          .section-title Ви вже переглядали:
          .btn-box
            .prev-slide.dilb.black = inline_svg "svg/arrow_left.svg"
            .next-slide.dilb.black = inline_svg "svg/arrow_right.svg"

        ul.owl-carousel
          - 9.times do |i|
            li
              .one-apartament
                a.square href=apartaments_one_path
                  .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"
                  .type-apartanent.blue-bg
                    = inline_svg "svg/jut-3.svg"
                    span продаж

                .short-info.apartanent
                  h4.sub-title.blue Котедж
                  h2.h2 Касабланка
                  .map-position
                    p с. Сокільники, вул. Саксаганського, 24
                    a.blue href="/"
                      = inline_svg "svg/location"
                      | на карті
                  h3.price.blue
                    |1 250 00
                    span
                      |грн

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/squers.svg"
                      p.title.smaller Площа:
                      span.figures 240
                      span м
                      sup 2

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/kimnatu.svg"
                      p.title.smaller Кімнати:
                      span.figures 8


  .mobile-btn-box.mobile
    .button-compare.blue = inline_svg "svg/switcher.svg"
    .button-like.blue = inline_svg "svg/heart.svg"
    .button-apartament.request-button
      span направити запит