.comparison-wrap.pt
  .row
    .columns
      .section-title.blue Порівняння
      .sub-title 7 обєктів у порівнянні

  .row.columns-left
    .large-3.medium-4.columns
      .left-general-part
        .button
          = inline_svg "svg/plus.svg"
          span додати ще обєкт
        .button.color
          = inline_svg "svg/trash.svg"
          span очистити список

        .main-comparison.desktop
          .title.blue Вартість:
          .title.blue Тип:
          .title.blue Площа квартири, м2:
          .title.blue Кількість кімнат:
          .title.blue Житлова площа, м2:
          .title Опаленення:
          .title.blue Каналізація:
          .title Ліфт у будинку:
          .title.blue Меблі:
          .title.blue Санвузлів:
          .title.blue Карта:

    .small-6.medium-4.large-3.columns
      .one-apartament-comparison
        .img-container
          .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"
          .type-apartanent.blue-bg
            = inline_svg "svg/jut-3.svg"
              
        .info-comparison
          .name Великий хаус на пекарській
          .price.blue
            |75 000
            span
              |грн/міс
              
          .title Квартира
          .title 74
          .title 3
          .title 44
          .title центральне
          .title центральна
          .title відсутній
          .title присутні
          .title 2

        .map-container
          #map-Stryi
          / .location вул. Сагайдачного 58, кв. 45, м. Львів
        .map-position
          p с. Сокільники, вул. Саксаганського, 24
          a.blue href="/"
            = inline_svg "svg/location"
            | на карті

        .delete-comparison.blue
          = inline_svg "svg/close.svg"
          | Вилучити

    .small-6.medium-4.large-3.columns
      .one-apartament-comparison
        .img-container
          .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"
          .type-apartanent.blue-bg
            = inline_svg "svg/jut-3.svg"
              
        .info-comparison
          .name Великий хаус на пекарській
          .price.blue
            |75 000
            span
              |грн/міс
              
          .title Квартира
          .title 74
          .title 3
          .title 44
          .title центральне
          .title центральна
          .title відсутній
          .title присутні
          .title 2

        .map-container
          #map-Lviv
          / .location вул. Сагайдачного 58, кв. 45, м. Львів
        .map-position
          p с. Сокільники, вул. Саксаганського, 24
          a.blue href="/"
            = inline_svg "svg/location"
            | на карті

        .delete-comparison.blue
          = inline_svg "svg/close.svg"
          | Вилучити