.contacts-wrap.pt
  .row.tab-buttons-map
    .columns
      .section-title Контакти
      

      .tabs-box.no-margin
        .tab-button-map.tab.active Львів
        .tab-button-map.tab Стрий

  .tab-content-wrapper-map
    .tab-content.active
      .bg-map
        #map-Lviv
      .row
        .medium-6.columns
          .contacts-info
            .title Телефони:
            a.phone href="" 
              |+38&nbsp
              span
                |096&nbsp
              | 458&nbsp 7875

            a.phone href="" 
              |+38&nbsp
              span
                |096&nbsp
              | 458&nbsp 7875

            .title Адреса:
            .address вул.Саксаганського 24б, м.Львів

            .title E-mail:
            .email 
              |mattis
              span 
                |@
              |mail.com

          

    .tab-content
      .bg-map
        #map-Stryi
        
      .row
        .medium-6.columns
          .contacts-info
            .title Телефони:
            a.phone href="" 
              |+38&nbsp
              span
                |093&nbsp
              | 148&nbsp 1346

            a.phone href="" 
              |+38&nbsp
              span
                |096&nbsp
              | 458&nbsp 7875

            .title Адреса:
            .address вул.Шевченка 24, м.Стрий

            .title E-mail:
            .email 
              |mattis
              span 
                |@
              |mail.com

        
  = render partial: "all_managers_wrap", locals: { page_name: "contacts"}

  .contacts-us-form-wrap
    .row
      .large-10.columns.large-centered
        .contacts-form
          form name="form"
            button.button.blue-bg надістлати
            .section-title виникли запитання?
            .row
              .large-6.columns
                .input-field.with-border
                  input#number name="number"
                  label Ваше імя
                  = inline_svg "svg/ic_person_black_24px (1).svg"

                .input-field.with-border
                  input#mail name="mail"
                  label Ваш eмеіл?
                  = inline_svg "svg/ic_email_black_24px.svg"

                .input-field.with-border
                  input#number name="number"
                  label Ваш контактний телефон?
                  = inline_svg "svg/ic_phone_black_24px.svg"

              .large-6.columns
                .input-field.with-border
                  textarea#note rows="8" name="comment"
                  label Ваше запитання
                  = inline_svg "svg/chat.svg"

      
      