= render "main_banner"

.actual-offers.section-indent
  .button.search-button.blue-bg.big
    = inline_svg "svg/ic_search_white_24px.svg"
    |пошук нерухомості
  .row
    .columns
      p.section-title актуальні пропозиції
  .row
    .columns.large-2
      .slider-button-box
        .prev-slide = inline_svg "svg/arrow_left.svg"
        .current-slide.blue 1
        span &#47;
        .total-slide
        .next-slide = inline_svg "svg/arrow_right.svg"
      .button.blue-bg.desktop всі пропозиції

    .columns.large-10
      ul.offers-slider
        - 9.times do |e|
          li
            .row
              .columns.large-3
                .info-manager-box
                  .inner
                    .manager-image
                      .img-bg style="background-image: url(#{asset_path('photo/stuff-7.jpg')})"

                    .manager-info
                      h3.h3.blue оксана
                      p Менеджер по квартирній та земельній нерухомості

                      .call-box
                        .svg-box.blue
                          = inline_svg "svg/telephone.svg"
                        a.number.regular href="+380 96 458 7854" +380 96 458 7854
                        a.number.regular href="+380 67 451 4568" +380 67 451 4568

                      .mail-box
                        .svg-box.blue
                          = inline_svg "svg/mail.svg"
                        a.mail.regular href="/" 
                          |oksana
                          span.blue
                            |@
                          |matis.com

              .columns.large-9
                .info-apartments
                  .img-container
                    .img-bg style="background-image: url(#{asset_path('photo/sample-8.jpg')})"

                  .short-info
                    h4.sub-title Котедж
                    h2.h2 Касабланка
                    .map-position
                      p с. Сокільники, вул. Саксаганського, 24
                      a.blue href="/"
                        = inline_svg "svg/location"
                        | на карті
                    h3.price.blue
                      |1 250 00
                      span
                        |грн

                    .characteristics-info
                      .characteristics-one
                        = inline_svg "svg/squers.svg"
                        p.title.smaller Площа:
                        span.figures 240
                        span м
                        sup 2

                    .characteristics-info
                      .characteristics-one
                        = inline_svg "svg/kimnatu.svg"
                        p.title.smaller Кімнати:
                        span.figures 8

                    .description
                      p Будівельна компанія Трембіта пропонує новий проект зблокованого будинку біля Львова в котеджному містечку таунхаусів с. Ременів, 4 км від кільцевої м. Львова, з сучасних енергозберігаючих матеріалів - газобетону.
      
                    .btn.blue.desktop
                      | детальніше
                      = inline_svg "svg/arrow-1.svg"

                    .button.blue-bg.mobile всі пропозиції


= render "video_wrap"



= render partial: "all_managers_wrap", locals: { page_name: "index"}

.testimonials-wrarp
  ul.testimonials-slider
    - 4.times do |i|
      li
        .bg-slider
          .img-bg style="background-image: url(#{asset_path('photo/sample-1.jpg')})"
          .bg-color
        .content-slider
          .row
            .large-10.columns.large-centered
              .row
                .large-6.columns
                  .client-info-box
                    .client-image
                      .img-bg style="background-image: url(#{asset_path('photo/stuff-7.jpg')})"
                    .client-info
                      h3.name.blue Людмила грацюк
                      h4 Придбала 3-х кімнатну квартиру на Садовій
                      .button.blue-bg.desktop 
                        |переглянути
                        = inline_svg "svg/arrow_right.svg"

                .large-6.columns
                  .content-box
                    .slider-button-box
                      .prev-slide = inline_svg "svg/arrow_left.svg"
                      .next-slide = inline_svg "svg/arrow_right.svg"

                    p Мережа Агентств Нерухомості "Матіс" пропонує Вашій увазі широкий спектр послуг, повязаних із нерухомістю, до складу яких входять: операції купівлі — продажу нерухомості, коротко та довстрокова оренда, подобова оренда та комерційна оренда нерухомості у зручний для вас час та у зручному для вас місці.


.selection-apartments-wrap.section-indent
  .row
    .columns
      .tab_buttons_wrapper
        .tabs-box.tab-buttons
          .tab-button.tab.active підбір нерухомості
          .tab-button.tab передзвоніть мені
  
      .content-selection-wrap.tab-content-wrapper
        .content-selection.tab-content.active
          form          
            .row
              .large-4.columns
                .contact-info
                  .inner
                    .title Контактна інформація:

                    .input-field.with-border
                      input#number name="number"
                      label Ваше імя
                      = inline_svg "svg/ic_person_black_24px (1).svg"

                    .input-field.with-border
                      input#mail name="mail"
                      label Ваш eмеіл?
                      = inline_svg "svg/ic_email_black_24px.svg"

                    .input-field.with-border
                      input#number name="number"
                      label Ваш контактний телефон?
                      = inline_svg "svg/ic_phone_black_24px.svg"

              .large-4.columns
                .celect-info
                  .title Підбір нерухомості:
                  .drop-down-box.no-padding
                    .sub-title тип нерухомості
                    select placeholder="тип нерухомості"
                      option data-display="" Nothing
                      option value="1" житлова
                      option value="2" бізнес
                  .drop-down-box
                    .sub-title тип опереції
                    select placeholder="тип нерухомості"
                      option data-display="" Nothing
                      option value="1" оренда
                      option value="2" купівля
                  .drop-down-box
                    .sub-title тип нерухомості
                    select placeholder="тип нерухомості"
                      option data-display="" Nothing
                      option value="1" квартири
                      option value="2" офіси
              .large-4.columns
                .range-info
                  .range-one
                    .sub-title.no-padding площа
                    .min-value
                      |від
                      span
                        | 150м
                        sup 2
                    .max-value
                      | до
                      span
                        | 250м
                        sup 2
                    .range-input-m.asRange
                  .range-one
                    .sub-title.no-padding вартість
                    .min-value
                      |від
                      span
                        | 75 000&nbsp
                      | грн
                    .max-value
                      | до
                      span
                        | 350 000&nbsp
                      | грн
                    .range-input-p.asRange
          .button.blue-bg замовити


        .content-selection.tab-content
          .row
            .large-4.columns
              form
                .contact-info
                  .inner
                    .title Контактна інформація:
                    .input-field.with-border
                      input#number name="number"
                      label Ваше імя
                      = inline_svg "svg/ic_person_black_24px (1).svg"

                    .input-field.with-border
                      input#mail name="mail"
                      label Ваш eмеіл?
                      = inline_svg "svg/ic_email_black_24px.svg"

                    .input-field.with-border
                      input#number name="number"
                      label Ваш контактний телефон?
                      = inline_svg "svg/ic_phone_black_24px.svg"

                .button.blue-bg замовити
