.manager-one-wrap.pt
  .breadcrumb-wrap
    .row
      .columns
        ul.breadcrumb
          li
            a href=root_path Головна
          li
            a href=managers_page_path Менеджери
          li
            a href="" Оксана Гаврилюк
  .row
    .columns
      a.go-back-btn.regular href=managers_page_path
        = inline_svg "svg/reply.svg"
        span До переліку менеджерів

  .manager-one-content.section-indent
    .row.columns-left
      .medium-5.large-3.columns
        .info-manager-box.apartanent
          .inner
            .manager-image.square
              .img-bg style="background-image: url(#{asset_path('img/manager-01.jpg')})"

            .manager-info
              h3.h3.blue оксана
              p Менеджер по квартирній та земельній нерухомості

              .call-box
                .svg-box.blue
                  = inline_svg "svg/telephone.svg"
                a.number.regular href="+380 96 458 7854" +380 96 458 7854
                a.number.regular href="+380 67 451 4568" +380 67 451 4568

              .mail-box
                .svg-box.blue
                  = inline_svg "svg/mail.svg"
                a.mail.regular href="/" 
                  |oksana
                  span.blue
                    |@
                  |matis.com

              h4.type.blue.smaller Житлова нерухомість
              .location.smaller Львів

              .call-me.blue-bg
                .title.larger Замовити дзвінок
                form
                  .input-field
                    input#first_name name="number"
                    label.smaller Ваш номер телефону?
                    span.bar
                    button.svg = inline_svg "svg/arrow_right.svg"

      .medium-7.large-9.columns
        .row
          - 5.times do |e|
            .medium-6.large-4.columns

              .one-apartament
                .square
                  a.img-bg href=apartaments_one_path style="background-image: url(#{asset_path('img/house3.jpg')})"
                  .type-apartanent.blue-bg
                    = inline_svg "svg/jut-3.svg"
                    span продаж

                .short-info.apartanent
                  h4.sub-title.blue Котедж
                  h2.h2 Касабланка
                  .map-position
                    p с. Сокільники, вул. Саксаганського, 24
                    a.blue href="/"
                      = inline_svg "svg/location"
                      | на карті
                  h3.price.blue
                    |1 250 00
                    span
                      |грн

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/squers.svg"
                      p.title.smaller Площа:
                      span.figures 240
                      span м
                      sup 2

                  .characteristics-info
                    .characteristics-one
                      = inline_svg "svg/kimnatu.svg"
                      p.title.smaller Кімнати:
                      span.figures 8
