.breadcrumb-wrap.pt
  .row
    .columns
      ul.breadcrumb
        li
          a href="" Головна
        li
          a href="" Менеджери

= render partial: "all_managers_wrap", locals: { page_name: "managers"}