.not-found-page
  .img-bg style="background-image: url(#{asset_path('photo/404.jpg')})"
  .content
    .row.columns-left.collapse
      .large-4.xxlarge-5.columns
        .head-title.blue 404
      .large-4.columns
        .title Помилка
        p Сторінка яку ви намагались відвідати нажаль не існує. Перейдіть на головну.
        .button головна