.about-us-wrap
  .about-us-baner
    background: $dark
    height: 80vh
    position: relative
    .banner-inner
      +xy-align
      width: 50%
      text-align: center
      svg
        width: 500px
      p
        color: $grey
        padding-top: 100px
      +breakpoint(medium down)
        svg
          width: 200px
        p
          padding-top: 50px
      +breakpoint(small only)
        width: 80%
  .info-company-wrap
    .info
      position: relative
      padding: 25px 0
      &:before
        content: ""
        position: absolute
        height: 100%
        width: 108px
        background: $grey50
        z-index: -1
        left: 20%

      .figure
        font-size: 120px
        color: $blue
        display: inline-block
      .inner-info
        display: inline-block
        padding-top: 95px
        vertical-align: top
        .title 
          color: $dark
          text-transform: uppercase
          font-size: 18px
          font-weight: 700
          letter-spacing: 1px
          padding-bottom: 25px

        p
          font-size: 14px
          color: $light-blue
          width: 200px
          max-width: 100%

      +breakpoint(medium down)
        &:before
          height: 65%
        .inner-info
          display: block
          padding-top: 0
          padding-left: 75px

      +breakpoint(small only)
        .info
          padding: 15px 0
        .figure
          font-size: 80px


.galery-wrap
  .square
    margin: 10px
    width: calc(100% - 10px)
  .square-1-5
    position: relative
    width: calc(100% - 10px)
    margin: 10px
    &:before
      content: ''
      display: block
      padding-bottom: 176%
  .square-2-x
    position: relative
    width: calc(100% - 10px)
    margin: 10px
    &:before
      content: ''
      display: block
      padding-bottom: 168.6%
  .square-0-5x
    position: relative
    width: calc(100% - 10px)
    margin: 10px
    &:before
      content: ''
      display: block
      padding-bottom: 75%

  .square, .square-1-5, .square-2-x, .square-0-5x
    cursor: pointer
  
    &:hover
      .square, .square-1-5, .square-2-x, .square-0-5x
      .hover-block
        opacity: 1

  .hover-block
    +fullsize
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 67%, rgba(0,0,0,0.35) 100%)
    opacity: 0
    font-family: tornado
    +transition(.5s)
    h4.sity
      font-weight: 700
      color: white
      position: absolute
      top: 20px
      left: 20px

    p.location
      color: white
      position: absolute
      bottom: 20px
      right: 20px
