.apartaments-one-wrap
  .similar-objects-wrap, .already-reviewed-wrap
    padding: 30px 0
    li
      margin-right: 20px

    .content-wrap
      position: relative
      .btn-box
        position: absolute
        right: 20px
        top: 0
      +breakpoint(small only)
        .btn-box
          right: initial
          left: 0
          top: 30px
        .section-title
          text-align: left
          margin-bottom: 60px

  .similar-objects-wrap
    background: $grey50

  .apartaments-content
    margin-top: 30px

    .slider-box
      position: relative
      .type-apartanent
        +breakpoint(small only)
          span
            display: none
      .prev-slide, .next-slide
        top: initial
        bottom: 0
        &:hover
          svg
            fill: $blue
    .owl-carousel
      width: 80%
      margin: auto
      padding-top: 10px
      .owl-dots
        display: none
      .one-slider
        display: block
        position: relative
        height: 50px
        // width: 50px
        opacity: 0.5
        cursor: pointer
        +transition(.3s)
        &:hover
          opacity: 1
        &.active_block
          border: 3px solid $blue
          opacity: 1
        +breakpoint(small only)
          height: 40px
  // #apartament-pager
  //   text-align: center
  //   margin-top: 20px
  //   a 
  //     position: relative
  //     width: 30%
  //     display: inline-block
  //     padding-bottom: 20%
  //     line-height: 1.5px
  //     margin: 0 3px
    
  .apartament-info-wrap
    h3
      font-size: 36px
      font-size: 500
      color: $dark
    .map-position
      margin-top: 5px
      p 
        font-size: 14px
        color: $grey
        padding-right: 15px
        display: inline-block
      a
        font-size: 14px
        text-transform: lowercase
        cursor: pointer
        svg
          width: 20px
          height: 20px
          vertical-align: sub
        +breakpoint(small only)
          display: block

    .info
      padding-top: 15px
      .price, .price2, .square-m
        padding: 20px 30px 0 0
        display: inline-block
        color: $dark
        font-size: 25px
        position: relative
        line-height: 0.75
        span
          color: $light-blue
          font-size: 18px
          padding-left: 5px


      .price, .price2
        &:before
          content: ""
          position: absolute
          // top: 0
          right: 12px
          bottom: 0
          width: 1px
          height: 30px
          background: $grey

      .price
        font-size: 36px
        font-weight: 700

      +breakpoint(small only)
        .price, .price2, .square-m
          padding: 20px 20px 0 0
          font-size: 22px
        .price
          font-size: 28px

    .buttons-box
      margin-top: 30px
      .button-apartament
        border: 1px solid $blue
        display: inline-block
        cursor: pointer
        padding: 7px 17px 
        margin-right: 20px
        svg
          width: 20px
          height: 20px
          fill: $blue
          vertical-align: middle

        span
          color: $blue
          letter-spacing: 1px
          vertical-align: middle
          font-size: 14px
          font-weight: 400
          font-family: tornado
          text-align: center

        .active-button
          display: none

        &.active
          background: $blue
          svg
            display: none
          span
            display: none

          .active-button
            display: block
            svg
              display: inline-block
              fill: white
            span
              display: inline-block
              color: white

    .svg-box
      margin-top: 20px
      svg
        width: 25px
        height: 25px
        margin-right: 10px
        fill: $dark
        +transition(.3s)
        &:hover
          fill: $blue

    .info-title-type-box
      margin-top: 15px
      .title-box
        display: inline-block
        .title
          color: $light-blue
          font-size: 16px
          padding-bottom: 10px

      .type-box
        display: inline-block
        margin-left: 60px
        .title
          color: $dark
          font-size: 15px
          padding-bottom: 10px

    .manager-apartament
      background: $grey50
      position: relative
      margin-top: 20px
      .img-manager
        position: absolute
        width: 50px
        height: 50px
        top: 30px
        left: 30px

      .info-manager
        margin-left: 100px
        display: inline-block
        padding: 30px 0 0
        .sub-title
          color: $light-blue
          font-size: 14px
          padding-bottom: 5px
        .title
          font-size: 20px
          text-transform: uppercase
          font-weight: 600
        .call-box, .mail-box
          // position: relative
          display: inline-block
          .svg-box
            margin-top: 0
            svg
              width: 20px
              height: 20px
              vertical-align: middle
          .number, .mail
            margin-left: 30px

        .mail-box
          margin-left: 30px
          vertical-align: top
      
      +breakpoint(small only)
        .img-manager
          top: 15px
          left: 15px
        .info-manager
          padding: 15px 0
          margin-left: 80px
          .mail-box
            margin-bottom: 0

      .contact-info
        display: inline-block
        width: 100%
        .left-btn, .right-btn
          display: inline-block
          width: 50%
          cursor: pointer
          padding: 10px 0
          text-align: center
          vertical-align: top
          span
            font-size: 16px
            color: white
            font-family: tornado
            text-transform: uppercase
            letter-spacing: 2px
            vertical-align: middle
            line-height: 2
          svg
            fill: white
            margin-right: 5px
            vertical-align: middle
        .left-btn
          background: $dark
        .right-btn
          background: #fa8b00
      


  .apartament-data
    padding: 50px 0
    .head-title
      font-size: 16px
      color: $dark
      letter-spacing: 2px
      padding-bottom: 20px
      font-weight: 600
      font-family: tornado
    +breakpoint(small only)
      padding: 0
      .head-title
        margin-top: 50px
      
    
    .apartaments-parameters
      .title
        font-size: 14px
        font-weight: 600
        color: $dark
        font-family: tornado
        background: $grey50
        padding: 10px
      .inner
        padding: 10px 15px
        .one-value
          position: relative
          padding: 10px 0 5px
          border-bottom: 1px solid rgba($dark, 0.2)
          &:last-child
            border-bottom: 1px solid transparent
          .value
            position: absolute
            right: 0
            top: 50%
            +translate(0%,-50%)
            span
              color: $light-blue
              margin-left: 5px

    .apartaments-description
      p
        margin-bottom: 20px
    .apartaments-map
      position: relative
      padding-bottom: 100%
      #map-Lviv
        +fullsize


// M O B I L E    V E R S I O N 

.mobile-btn-box
  position: fixed
  bottom: -5px
  left: 0
  right: 0
  z-index: 100
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  .button-compare, .button-like
    position: relative
    width: 14% 
    height: 50px
    background: $dark
    display: inline-block
    svg
      +xy-align
      width: 20px
  .button-like
    border-left: 1px solid $grey
  .button-apartament
    display: inline-block
    width: 72%
    cursor: pointer
    padding: 10px 0
    text-align: center
    vertical-align: top
    background: #fa8b00
    span
      font-size: 16px
      color: white
      font-family: tornado
      text-transform: uppercase
      letter-spacing: 2px
      vertical-align: middle
      line-height: 2