.apartaments-page-wrap
  .apartaments-page-header
    padding: 50px 0
    +clearfix
    .title
      font-size: 26px
      font-weight: 700
      font-family: tornado
      text-transform: uppercase
      letter-spacing: 2px
      padding-bottom: 10px
    .filter-info
      color: $black
      font-size: 16px
      display: inline-block
      span
        color: $light-blue

    .filter-top-box
      float: right
      vertical-align: top
      

      .filter-price
        color: $light-blue
        .drop-down-box
          .nice-select
            border-bottom: none
            padding-right: 0
            margin-left: 10px
            .current
              text-transform: initial
            li
              font-size: 12px
            &:after
              margin-top: -5px
              height: 7px
              width: 7px
      .map-link
        margin-left: 15px
        text-transform: uppercase
        color: $black
        padding-left: 15px
        border-left: 1px solid $light-silver
        svg
          width: 20px
          vertical-align: bottom

    +breakpoint(small only)  
      padding: 15px 0
      .filter-top-box
        float: none
        margin-top: 20px
    +breakpoint(medium down)
      .filter-top-box
        float: none
        margin-left: 20px
        .filter-price
          display: none
        .map-link
          margin-left: 10px

  .apartaments-page-content
    padding-bottom: 100px
  .square
    display: block
  .geheral-filter
    display: block
    +breakpoint(medium down)
      display: none
.filter-inner
  .accordion-button
    cursor: pointer
    background: $grey50
    position: relative
    line-height: 2.5
    border-top: 1px solid rgba($dark, 0.2)
    span
      padding-left: 10px
      color: $dark
      font-size: 14px
      font-weight: 700
    svg
      position: absolute
      right: 10px
      top: 0
      bottom: 0
      height: 100%
      width: 20px
      +transition(.3s)
    &.opened
      svg
        +rotate(180deg)
  .accordion-inner
    display: none
    position: relative
    +translate(0,0)
    &.show
      z-index: 11

    .checkbox-box
      padding: 20px 13px 20px 10px
      .inner
        padding: 0
      .one-checkbox
        .checkbox
          label
            &:hover
              svg
                *
                  fill: $blue !important
              span
                color: $blue
        &.small-w
          display: inline-block
          .checkbox
            padding-right: 60px
            display: inline-block
            label
              display: inline-block
              &:before
                margin-right: 5px
              span
                position: absolute
                // right: -20px

    .drop-down-box
      +clearfix
      .nice-select
        padding-bottom: 10px
        margin-left: 0
        .current
          font-size: 14px
        &:after
          right: 18px

    .inner
      padding-left: 20px
      padding-top: 20px
      padding-bottom: 20px

    .range-info  
      padding: 0
      .range-one
        margin: 10px 0 40px
        .min-value, .max-value
          top: 25px

.selected-filter-box
  position: relative
  background: $dark
  margin-bottom: 20px
  .inner
    padding: 20px
    .title
      color: white
      border-bottom: 1px solid rgba(white, .15)
      font-size: 14px
      text-transform: uppercase
      padding-bottom: 10px
      font-weight: 500
    .filters-select
      padding-top: 10px
      min-height: 100px 
    .name
      vertical-align: middle
      font-size: 14px
      svg
        width: 17px
        height: 25px
        vertical-align: middle
        cursor: pointer
    .clean-filters
      position: absolute
      right: 20px
      bottom: 10px
      text-transform: uppercase
      font-size: 14px
      cursor: pointer
      font-weight: 600
      letter-spacing: 2px

  +breakpoint(small only)
    margin-bottom: 0
    .inner
      .filters-select
        min-height: 50px


.currency
  text-transform: uppercase
  font-size: 14px
  color: $light-blue
  padding-right: 30px
  cursor: pointer
  span
    padding: 3px 7px 3px 7px
    &.active
      background: $blue
      color: white
  &.in-general-filter
    margin-top: 10px

  +breakpoint(small only)
    span
      &.active
        padding: 5px 7px 5px 10px



.pagination-container
  position: relative
  float: right
  span
    text-align: center
    font-size: 20px
    width: 50px
    height: 50px
    padding: 10px
    vertical-align: middle
    padding: 11px 19px 12px
    color: $black
    cursor: pointer
    +transition(.3s)
    &:hover
      color: $blue
    &.active
      background: $blue
      color: white

  +breakpoint(small only)
    float: none
    span
      font-size: 14px
      padding: 10px 17px 11px


  /// M O B I L E    F I L T E R 

.apartanent-mobile-filter
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: $dark
  z-index: 200
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  display: none
  +breakpoint(medium down)
    display: block
  .left-filter-box, .right-filter-box
    display: inline-block
    width: 50%
    svg
      width: 28px
      height: 40px
      vertical-align: sub
      margin: 0 10px
    .name-button
      display: inline-block
      padding: 10px 0
      .title
        text-transform: uppercase
        letter-spacing: 1px
      .sub-title
        color: rgba(white, 0.75)
        font-size: 10px
        text-transform: uppercase
    +breakpoint(medium only)
      text-align: center
  .left-filter-box
    border-right: 1px solid $grey
