.comparison-wrap
  position: relative
  +breakpoint(medium down)
    padding-bottom: 60px

  .section-title
    margin-bottom: 0
    margin-top: 30px
  .sub-title
    margin-bottom: 30px
  .left-general-part

    .button
      background: $dark
      margin-bottom: 10px
      line-height: 3
      width: 100%
      svg
        width: 25px
        height: 25px
        vertical-align: middle
      span
        font-size: 14px
      &.color
        background: $light-blue

    .main-comparison
      margin-top: 105px
      .title
        font-size: 16px
        color: $grey
        padding: 13px 0
        text-align: right
    +breakpoint(medium down)
      position: absolute
      bottom: 0
      right: 0
      left: 0
      .main-comparison
        display: none


  .one-apartament-comparison
    padding-bottom: 100px
    .info-comparison
      .name,.price, .title
        font-size: 16px
        color: $dark
        padding: 12.5px 0
        border-bottom: 1px solid rgba($dark, 0.2)
      .name
        font-size: 18px
        font-weight: 600
        text-transform: uppercase
      
    .map-container
      position: relative
      padding-bottom: 100%
      margin-top: 20px
      #map-Lviv
        position: absolute
        padding-bottom: 100%
        width: 100%

    .map-position
      padding-top: 10px
      svg
        width: 20px

    .delete-comparison
      font-size: 16px
      font-weight: 600
      cursor: pointer
      text-align: right
      margin-top: 50px
      svg
        margin-right: 5px
        width: 20px
        height: 20px
        vertical-align: bottom