.contacts-wrap
  .section-title
    padding-top: 40px
  .tab-content-wrapper-map
    padding-bottom: 29%
    position: relative

    .tab-content
      opacity: 0
      pointer-events: none
      position: absolute
      width: 100%
      height: 100%
      &.active
        opacity: 1
        pointer-events: initial
    
    .bg-map
      +fullsize
      background: $grey50
    
      #map-Lviv, #map-Stryi
        position: absolute
        right: 0
        top: 0
        bottom: 0
        left: 50%
    +breakpoint(small only)
      padding-bottom: 50%
      .bg-map
        #map-Lviv, #map-Stryi
          left: 0
          width: 100%

  .contacts-info
    position: relative
    z-index: 5
    padding-top: 50px
    .title
      font-size: 14px
      color: $light-blue
      padding: 30px 0 10px
    .phone, .email, .address 
      display: block
      color: $black
      font-weight: 700
      font-size: 26px
      span
        color: $blue
    .email, .address 
      font-size: 18px

    +breakpoint(medium down)
      padding-top: 0
      .title
        padding: 10px 0
      .phone
        font-size: 18px
      .email, .address 
        font-size: 16px
    +breakpoint(small only)
      position: absolute
      bottom: -125%


  .our-managers-wrap
    a.btn
      display: none
    +breakpoint(small only)
      margin-top: 225px

  .contacts-us-form-wrap
    background: $grey50
    padding-bottom: 150px
    position: relative
    .section-title
      text-align: center
      padding-top: 50px
    button.button
      +x-align
      bottom: 55px
    .input-field
      margin-bottom: 18px
      svg
        position: absolute
        left: 15px
        top: 20px
      
        width: 25px
        height: 25px
        fill: $grey
