@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext')

@font-face
  font-family: tornado
  src: url(#{asset_path('tornadoc-bold.otf')})
  src: url(#{asset_path('tornadoc.otf')})
  font-weight: normal
  font-style: normal