.not-found-page
  position: relative
  height: 100vh
  .content
    +xy-align
    width: 100%
    .head-title
      font-size: 300px
      font-weight: 700
      line-height: 0.1
      text-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3)
      +breakpoint(xlarge only)
        font-size: 250px
    .title
      text-transform: uppercase
      color: white
      font-size: 30px
      padding-bottom: 30px
      margin-top: 80px
      font-weight: 600
    p
      color: rgba(white, 0.7)
      padding-bottom: 35px

    .button
      border: 1px solid white
      padding: 0 40px
      &:hover
        bottom: 1px solid transparent

    +breakpoint(medium down)
      width: 80%
      .head-title
        font-size: 140px
      .title
        margin-top: 60px
        font-size: 24px


.actual-offers
  position: relative
  .line 
    color: $blue
    margin-top: 10px
  .button
    margin-top: 30px
    &.big
      +x-align
      top: -78px
      padding: 0 50px
      line-height: 5
      font-size: 18px
      font-weight: 800
      box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3)
      svg
        height: 27px
        width: 27px
        position: relative
        top: 8px
      &:hover
        box-shadow: -7px 8px 50px rgba(0, 0, 0, 0.35)
  .img-container
    padding-bottom: 45%
  +breakpoint(medium only)
    .button
      margin: 0
      &.big
        top: -155px
  +breakpoint(small only)
    .button
      margin: 0
      &.big
        padding: 0 45px
    .slider-button-box
      height: 50px
    .info-manager-box
      display: none

.video-box
  .clearfix
    position: relative
  .floated
    width: 50%
    &:last-child
      background: $dark
    .inner
      margin: 200px 80px 200px 200px
      position: relative
      p
        font-size: 18px
        color: white
        padding-bottom: 50px
        &:before
          content: "\2033"
          +rotate(180deg)
          position: absolute
          top: -50px
          left: -50px
          font-size: 120px
          color: $blue
          font-weight: 400
          line-height: 0.1
      .line
        height: 1px
        width: 86px
        background: rgba(white, 0.2)

      .signature
        font-size: 16px
        text-transform: uppercase
        letter-spacing: 2px
        padding-top: 25px
    +breakpoint(medium only)
      .inner
        margin: 100px 30px 50px 100px
    +breakpoint(small only)
      width: 100%
      // padding-top: 60%
      position: relative
      .video-wrap
        width: 100%
        position: relative
        .video-item
          height: 300px
      .inner
        top: 0
        margin: 100px 50px 70px
        p
          &:before
            left: -20px



.our-managers-wrap
  position: relative
  &.section-indent
    padding: 50px 0 100px
  .section-title
    margin-bottom: 20px
  .section-sub-title
    color: $light-blue
    padding-bottom: 30px
    font-size: 14px
    max-width: 100%
    width: 400px 

  .filter-manager-wrap
    padding-bottom: 50px
    .nice-select
      .current
        color: $blue

  .button
    +x-align
    bottom: 40px
  +breakpoint(small only)
    .section-sub-title
      text-align: center
    .button
      font-size: 13px
      


.testimonials-wrarp
  position: relative
  .bg-slider
    width: 100%
    position: absolute
    height: 100%
    overflow: hidden
    .bg-color
      position: absolute
      top: 0
      right: -40px
      bottom: 0
      background: $dark
      width: 90%
      z-index: 12
      transform: translate3d(10%, 0, 0) skew(20deg)
      +breakpoint(small only)
        top: initial
        right: 0
        left: 0
        width: 100%
        height: 75%
        transform: translate3d(0, 0, 0) skew(0deg)

  .content-slider
    position: relative
    padding: 100px 0 150px
    z-index: 12
    +breakpoint(small only)
      padding: 135px 0 100px
  .client-info-box
    position: relative
    .client-image
      position: relative
      height: 150px
      width: 150px
      display: inline-block
      vertical-align: top
      // top: -40px
      .img-bg
        border-radius: 50%

    .client-info
      display: inline-block
      padding-left: 50px
      h3.name
        font-size: 18px
        font-family: tornado
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1px
      h4
        font-size: 14px
        color: rgba(white, 0.7)
        font-weight: 400
        padding: 20px 0 40px

    +breakpoint(small only)
      text-align: center
      .client-image
        height: 120px
        width: 120px
      .client-info
        display: block
        padding-left: 0
        h3.name
          padding-top: 15px
        h4
          width: 200px
          margin: auto
          padding: 20px 0

  .content-box
    position: relative
    z-index: 12
    border-left: 1px solid rgba(white, 0.1)
    .slider-button-box
      padding: 0 0 50px 50px

      .next-slide, .prev-slide
        background: rgb(88, 101, 109)
        svg
          *
            fill: white
        &:hover
          
      .next-slide
        right: -25px


    p
      padding-left: 50px
      color: rgba(white, 0.7)
      font-size: 18px
      font-style: italic
      position: relative
      &:before
        content: "\2033"
        // +rotate(180deg)
        position: absolute
        bottom: -50px
        right: 00px
        font-size: 120px
        color: $blue
        font-weight: 400
        line-height: 0.1

    +breakpoint(small only)
      border-left: none
      p
        padding-top: 70px
        margin-right: 30px
        padding-left: 30px
        text-align: center
      .slider-button-box
        width: 105px
        padding: 0
        +x-align
        .next-slide, .prev-slide
          position: relative




.selection-apartments-wrap

  .content-selection-wrap
    position: relative
    padding-bottom: 100px
    .button
      // padding: 0 40px
      position: absolute
      left: 0
      bottom: 0
    .content-selection
      display: none
      &.active
        display: block

      .contact-info
        background: #f9f9f9
        .inner
          padding: 20px
          .title
            padding: 20px 0
          .input-field
            margin-bottom: 20px
            svg
              position: absolute
              left: 15px
              top: 20px
              width: 25px
              height: 25px
              fill: $grey

      .celect-info
        .title
          padding: 40px 0 20px 20px
        .drop-down-box
          +clearfix
          padding-top: 30px
          &.no-padding
            padding-top: 0
      .sub-title 
        color: $blue
        font-size: 14px
        text-transform: uppercase
        padding-left: 20px
        font-weight: 600
        &.no-padding
          padding-left: 0
          padding-bottom: 10px

      +breakpoint(small only)
        .celect-info
          .drop-down-box
            padding-right: 20px
      



     


  
       