.manager-one-wrap
  .section-indent
    padding: 50px 0

.one-apartament
  padding-bottom: 50px
  +transition(.3s)
  .square
    display: block
  &:hover
    .square
      .img-bg
        opacity: 0.7
    .short-info
      h2.h2
        color: $blue

.type-apartanent
  padding: 10px 15px
  position: absolute
  top: 10px
  left: 10px
  svg
    vertical-align: bottom
    width: 25px
    path
      stroke: white

  span
    text-transform: uppercase
    font-size: 18px
    color: white
    font-family: tornado
    letter-spacing: 1px
    padding-left: 5px
  +breakpoint(medium only)
    svg
      width: 20px
    span
      font-size: 14px
