.one-manager
  margin-bottom: 40px
  display: block
  .img-bg
    z-index: 1
  &.active
    .call-popup-box
      opacity: 1
      z-index: 10
    .inner
      .call-us
        .phone-box
          display: none
        .close-popup-box
          display: block

  .call-popup-box
    opacity: 0
    +transition(.3s)
    +fullsize
    &.visible
      opacity: 1
      
    .inner-popup
      margin: 30px
    .title
      font-size: 18px
      font-weight: 600
      color: white
      text-transform: uppercase
      padding-bottom: 20px
    .text 
      color: white
    .input-field
      margin-top: 30px
      button.svg
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: 38px
        height: 39px
        background: white
        svg
          width: 38px
          height: 38px
          padding: 12px
          *
            fill: $dark

  .info-manager
    position: relative
    border-left: 1px solid $light-silver
   
    .inner
      margin: 30px 0 0 30px
      h4.surname
        color: $light-silver
        font-size: 14px
    .call-us
      position: absolute
      right: 20px
      top: -60px
      cursor: pointer
      width: 50px
      height: 50px
      box-shadow: -2px 2px 10px rgba(0,0,0,0.2)
      z-index: 10
      .phone-box, .close-popup-box
        svg
          width: 50px
          height: 50px
          padding: 13px
          *
            fill: white
      .phone-box
        display: block
      .close-popup-box
        display: none


    .call-box, .mail-box
      a 
        max-width: 200px
        font-weight: 700
        line-height: 0.8
        
    .mail-box
      margin: 15px 0
      .mail
        font-weight: 600

      
    .title
      text-transform: uppercase
      font-weight: 600
      font-size: 14px
    .sity
      color: $light-silver

