.row.columns-left
  .columns
    float: left !important

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.btn
  display: inline-block
  vertical-align: middle
  line-height: 1
  text-transform: uppercase
  font-size: 16px
  font-family: tornado
  letter-spacing: 3px
  padding-right: 5px
  cursor: pointer
  +transition(.3)
  svg
    width: 13px
    height: 13px

.button
  display: inline-block
  vertical-align: middle
  line-height: 4
  color: white
  letter-spacing: 2px
  padding: 0 20px
  cursor: pointer
  text-transform: uppercase
  font-size: 16px
  font-weight: 400
  font-family: tornado
  text-align: center
  +transition(.3s)
  svg
    // margin-right: 10px
    width: 15px
    height: 15px
    fill: white
  &:hover
    background: rgb(46, 193, 228)

  +breakpoint(small only)
    width: 100%


.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right

.float-right
  +breakpoint(medium up)
    float: right !important
.float-left
  +breakpoint(medium up)
    float: left !important

.mobile
  +breakpoint(medium up)
    display: none !important
.desktop
  +breakpoint(small only)
    display: none !important

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden

.img-bg
  position: absolute
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken

.prev-slide, .next-slide
  position: absolute
  height: 50px
  width: 50px
  background: $light-silver
  top: 0
  z-index: 111
  cursor: pointer
  transition: 0.5s
  svg
    width: 20px
    height: 20px
    +centered-inside
    *
      fill: $dark
  +breakpoint(small only)
    width: 40px
    height: 40px

  &.black
    background: $dark
    svg
      *
        fill: white
    &:hover
      svg
        *
          fill: $blue
  &.dilb
    position: relative
    display: inline-block
    vertical-align: middle
    &:hover
      svg
        *
          fill: $blue
.prev-slide
  left: 0
.next-slide
  right: 0

.section-title
  font-size: 20px
  font-weight: 700
  margin-bottom: 30px
  text-transform: uppercase
  letter-spacing: 2px
  color: $dark
  +breakpoint(small only)
    text-align: center


.square
  position: relative
  width: 100%
  &:before
    +square

.section-indent
  padding: 100px 0
  +breakpoint(small only)
    padding: 50px 0

.slider-button-box
  position: relative
  // left: 0
  // top: 0
  z-index: 1
  span
    margin: 0 5px
  .current-slide, .total-slide, span
    font-size: 28px
    color: $light-silver
    display: inline-block
    font-weight: 300
    // vertical-align: text-top
    position: relative
    top: -15px
  .current-slide
    margin-left: 20px
    &.blue
      color: $blue
    &.orange
      color: $orange
  .total-slide
    margin-right: 20px
  .next-slide, .prev-slide
    display: inline-block
    position: relative
    svg
      // +translate(0,50%)
    .next-slide
      +translate(50%,0)
    .prev-slide
      +translate(-50%,0)
      margin-top: 10px
  +breakpoint(small only)
    .current-slide, .total-slide, span
      +x-align
      top: 0
    .total-slide
      left: 47%
    .next-slide, .prev-slide
      position: absolute


.line
  height: 2px
  width: 30px
  background: $light-silver

.blue
  color: $blue !important
  svg
    *
      fill: $blue
      
.orange
  color: $orange
  svg
    *
      fill: $orange

.blue-bg
  background: $blue
.orange-bg
  background: $orange

.tabs-box
  margin-bottom: 40px
  &.no-margin
    margin-bottom: 0
  .tab
    font-size: 20px
    font-family: tornado
    text-transform: uppercase
    color: $grey
    cursor: pointer
    +transition(.3s)
    display: inline-block
    margin-right: 40px
    letter-spacing: 1px
    line-height: 2
    font-weight: 600
    border-bottom: 2px solid transpaternt
    &:hover
      color: $blue
    &.active
      color: $blue
      border-bottom: 2px solid $blue

    +breakpoint(small only)
      line-height: 1
      width: calc(50% - 20px)
      text-align: center
      &:last-child
        margin-right: 0

    &.in-popup
      width: 50%
      margin: 0
      text-align: center
      border-bottom: 0
      background: $light-silver
      padding: 20px
      &.active
        color: white
        background: $blue



.tab_content
  display: none
  &.active
    display: block


.pt
  padding-top: 90px
  +breakpoint(xlarge only)
    padding-top: 70px
  +breakpoint(small only)
    padding-top: 55px




