.our-managers-wrap.section-indent
  .row
    .columns
      p.section-title наші менеджери
      - count_items = 8
      - if page_name == "index" || page_name == "managers"  || page_name == "about-us"
        p.section-sub-title професійні менеджери, які допоможуть та порадять вам обрати саме те що ви шукали
      - elsif page_name == "contacts" || page_name == "about-us"
        - count_items = 4

  - if page_name == "managers"
      
    .filter-manager-wrap
      .row
        .columns.medium-6
        
          form
            .input-field.width-bottom-border
              input#serch-manager name="search" 
              label ПОШУК МЕНЕДЖЕРА
              span.bar
              button.svg = inline_svg "svg/search.svg"
              

        .columns.medium-3
          select placeholder="тип нерухомості"
            option data-display="" Оберіть місто
            option value="1" Львів
            option value="2" Стрий

  .row.columns-left
    .columns.medium-6.large-3
      .one-manager
        .square 
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-01.jpg')})"
          .call-popup-box.orange-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам

              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"


        .info-manager
          .inner
            .call-us.orange-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.orange Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.orange
                  |@
                |matis.com

            .title.orange бінес нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square 
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-02.jpg')})"
          .call-popup-box.blue-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам
              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

        .info-manager
          .inner
            .call-us.blue-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.blue Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.blue
                  |@
                |matis.com

            .title.blue житлова нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square 
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-03.jpg')})"
          .call-popup-box.orange-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам

              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

                  
        .info-manager
          .inner
            .call-us.orange-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.orange Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.orange
                  |@
                |matis.com

            .title.orange бінес нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-04.jpg')})"
          .call-popup-box.blue-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам
              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

        .info-manager
          .inner
            .call-us.blue-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.blue Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.blue
                  |@
                |matis.com

            .title.blue житлова нерухомість
            .sity Львів


    .columns.medium-6.large-3
      .one-manager
        .square
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-05.jpg')})"
          .call-popup-box.orange-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам

              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

                  
        .info-manager
          .inner
            .call-us.orange-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.orange Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.orange
                  |@
                |matis.com

            .title.orange бінес нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-06.jpg')})"
          .call-popup-box.blue-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам
              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

        .info-manager
          .inner
            .call-us.blue-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.blue Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.blue
                  |@
                |matis.com

            .title.blue житлова нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-03.jpg')})"
          .call-popup-box.orange-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам

              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

                  
        .info-manager
          .inner
            .call-us.orange-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.orange Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.orange
                  |@
                |matis.com

            .title.orange бінес нерухомість
            .sity Львів

    .columns.medium-6.large-3
      .one-manager
        .square
          a.img-bg href=manager_one_path style="background-image: url(#{asset_path('img/manager-01.jpg')})"
          .call-popup-box.blue-bg
            .inner-popup
              .title Замовлення дзвінка
              .text 
                | Введіть ваш номер телефону та 
                span
                  | Дарт 
                | передзвонить вам
              form
                .input-field
                  input#first_name name="number"
                  label Ваш номер телефону?
                  span.bar
                  button.svg = inline_svg "svg/arrow_right.svg"

        .info-manager
          .inner
            .call-us.blue-bg
              .phone-box = inline_svg "svg/telephone.svg"
              .close-popup-box = inline_svg "svg/close.svg"
            h3.name.blue Вейдер
            h4.surname Дарт

            .call-box
              a.number.regular href="+380 96 458 7854" +380 96 458 7854
              a.number.regular href="+380 67 451 4568" +380 67 451 4568

            .mail-box
              a.mail.regular href="/" 
                |dart
                span.blue
                  |@
                |matis.com

            .title.blue житлова нерухомість
            .sity Львів

  a.button.blue-bg href=managers_page_path всі менеджери
