.apartaments-filter-popup
  
  .tabs-box.tab-buttons
    .tab-button.tab.in-popup.active житлова нерухамість
    .tab-button.tab.in-popup бізнес нерухомість

  .tab-content-wrapper
    .filters-content.tab-content.active
      .inner
        .row
          .large-4.medium-6.columns

            .head-title категорія і тип

            .checkbox-box
              .title Категорія
              .one-checkbox
                .checkbox
                  input#checkbox-salis type="checkbox" 
                  label.switcher-control for="checkbox-salis"
                    = inline_svg "svg/calendar.svg"
                    span продажа

              .one-checkbox
                .checkbox
                  input#checkbox-rent type="checkbox" 
                  label.switcher-control for="checkbox-rent"
                    = inline_svg "svg/money.svg"
                    span оренда
                
              .one-checkbox
                .checkbox
                  input#checkbox-rent-one type="checkbox" 
                  label.switcher-control for="checkbox-rent-one"
                    = inline_svg "svg/money.svg"
                    span Оренда подобова



            .checkbox-box
              .title Категорія
              .one-checkbox
                .checkbox
                  input#checkbox-apartaments type="checkbox" 
                  label.switcher-control for="checkbox-apartaments"
                    = inline_svg "svg/jut-1.svg"
                    span квартири

              .one-checkbox
                .checkbox
                  input#checkbox-hauses type="checkbox" 
                  label.switcher-control for="checkbox-hauses"
                    = inline_svg "svg/jut-3.svg"
                    span будинки

              .one-checkbox
                .checkbox
                  input#checkbox-lend type="checkbox" 
                  label.switcher-control for="checkbox-lend"
                    = inline_svg "svg/jut-2.1.svg"
                    span земля

          .large-4.medium-6.columns
            .head-title розташування
            .drop-down-box
              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" житлова
                option value="2" бізнес

              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" оренда
                option value="2" купівля

              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" квартири
                option value="2" офіси

          .large-4.medium-6.columns
            .head-title ціна та площа

            .currency
              .sub-title Ціна:
              span.active грн 
              span usd

            .range-info
              .range-one
                .min-value
                  |від
                  span
                    | 150м
                    sup 2
                .max-value
                  | до
                  span
                    | 250м
                    sup 2
                .range-input-m.asRange


              .range-one
                .sub-title.no-padding Площа:
                .min-value
                  |від
                  span
                    | 150м
                    sup 2
                .max-value
                  | до
                  span
                    | 250м
                    sup 2
                .range-input-m.asRange



    .filters-content.tab-content
      .inner
        .row
          .medium-6.columns

            .head-title категорія і тип

            .checkbox-box
              .title Категорія
              .one-checkbox
                .checkbox
                  input#checkbox-salis type="checkbox" 
                  label.switcher-control for="checkbox-salis"
                    = inline_svg "svg/calendar.svg"
                    span продажа

              .one-checkbox
                .checkbox
                  input#checkbox-rent type="checkbox" 
                  label.switcher-control for="checkbox-rent"
                    = inline_svg "svg/money.svg"
                    span продажа

          .medium-6.columns
            .head-title розташування
            .drop-down-box
              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" житлова
                option value="2" бізнес

              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" оренда
                option value="2" купівля

              select placeholder="тип нерухомості"
                option data-display="" Nothing
                option value="1" квартири
                option value="2" офіси
  
     

     

     


          

  .button.blue-bg
    = inline_svg "svg/search.svg"
    |підібрати