.filter-mobile-price
  .head-container.blue-bg
    .inner
      .name-filter
        .title Сортуваня

      = inline_svg "svg/sort.svg"

  .filter-inner
    .radio-box
      input#1-option type="radio"  name="selector"
      label for="1-option" Ціна від більшої
      .check

    .radio-box
      input#2-option type="radio"  name="selector"
      label for="2-option" Ціна від меньшої
      .check

    .radio-box
      input#3-option type="radio"  name="selector"
      label for="3-option" По даті спочатку новіші
      .check

    .radio-box
      input#4-option type="radio"  name="selector"
      label for="4-option" По даті спочатку старші
      .check

  .button.blue-bg застосувати