.filter-mobile
  .head-container.blue-bg
    .inner
      .name-filter
        .title Фільтр
        .sub-title 
          |знайдено 
          span 21

      = inline_svg "svg/filter.svg"

  = render "filters_apartament"

  .button.blue-bg застосувати
