.filter-inner  
  .accordion-button
    span Вид операції:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
  .accordion-inner
    .checkbox-box
      .one-checkbox
        .checkbox
          input#checkbox-salis1 type="checkbox" 
          label.switcher-control for="checkbox-salis1"
            = inline_svg "svg/calendar.svg"
            span продажа

      .one-checkbox
        .checkbox
          input#checkbox-rent1 type="checkbox" 
          label.switcher-control for="checkbox-rent1"
            = inline_svg "svg/money.svg"
            span оренда
        
      .one-checkbox
        .checkbox
          input#checkbox-rent-one1 type="checkbox" 
          label.switcher-control for="checkbox-rent-one1"
            = inline_svg "svg/money.svg"
            span Оренда подобова

  .accordion-button
    span Категорія:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
  .accordion-inner
    .checkbox-box
      .one-checkbox
        .checkbox
          input#checkbox-apartaments1 type="checkbox" 
          label.switcher-control for="checkbox-apartaments1"
            = inline_svg "svg/jut-1.svg"
            span квартири

      .one-checkbox
        .checkbox
          input#checkbox-hauses1 type="checkbox" 
          label.switcher-control for="checkbox-hauses1"
            = inline_svg "svg/jut-3.svg"
            span будинки

      .one-checkbox
        .checkbox
          input#checkbox-lend type="checkbox" 
          label.switcher-control for="checkbox-lend"
            = inline_svg "svg/jut-2.1.svg"
            span земля

  .accordion-button
    span Тип:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .checkbox-box
      .inner
        .one-checkbox
          .checkbox
            input#checkbox-apartaments2 type="checkbox" 
            label.switcher-control for="checkbox-apartaments2"
              / = inline_svg "svg/jut-1.svg"
              span квартири

        .one-checkbox
          .checkbox
            input#checkbox-apartaments3 type="checkbox" 
            label.switcher-control for="checkbox-apartaments3"
              / = inline_svg "svg/jut-1.svg"
              span квартири


  .accordion-button
    span Розташування:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .inner
      .drop-down-box
        select placeholder="тип нерухомості"
          option data-display="" Оберіть облать
          option value="1" Львівська .обл
          option value="2" Київська .обл

        select placeholder="тип нерухомості"
          option data-display="" Місто
          option value="1" Львів
          option value="2" Київ


        select placeholder="тип нерухомості"
          option data-display="" Оберіть район
          option value="1" Франківський
          option value="2" Галицький

  .accordion-button
    span Ціна:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .inner
      .currency.in-general-filter
        span.active грн 
        span usd
      .range-info  
        .range-one
          .min-value
            |від
            span
              | 0
          .max-value
            | до
            span
              | 5600
          .range-input-m.asRange


  .accordion-button
    span Площа загальна:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .inner
      .range-info  
        .range-one
          .min-value
            |від
            span
              | 75м
              sup 2
          .max-value
            | до
            span
              | 650м
              sup 2
          .range-input-m.asRange

  .accordion-button
    span Кількість кімнат:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .inner
      .checkbox-box
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room1 type="checkbox" 
            label.switcher-control for="apartaments-room1"
              / = inline_svg "svg/jut-1.svg"
              span 1
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room2 type="checkbox" 
            label.switcher-control for="apartaments-room2"
              / = inline_svg "svg/jut-1.svg"
              span 2
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room3 type="checkbox" 
            label.switcher-control for="apartaments-room3"
              / = inline_svg "svg/jut-1.svg"
              span 3
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room4 type="checkbox" 
            label.switcher-control for="apartaments-room4"
              / = inline_svg "svg/jut-1.svg"
              span 4
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room5 type="checkbox" 
            label.switcher-control for="apartaments-room5"
              / = inline_svg "svg/jut-1.svg"
              span 5
        .one-checkbox.small-w
          .checkbox
            input#apartaments-room6 type="checkbox" 
            label.switcher-control for="apartaments-room6"
              / = inline_svg "svg/jut-1.svg"
              span.large-w 6+

  .accordion-button
    span Поверх:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .inner
      .checkbox-box
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor1 type="checkbox" 
            label.switcher-control for="apartaments-floor1"
              / = inline_svg "svg/jut-1.svg"
              span 1
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor2 type="checkbox" 
            label.switcher-control for="apartaments-floor2"
              / = inline_svg "svg/jut-1.svg"
              span 2
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor3 type="checkbox" 
            label.switcher-control for="apartaments-floor3"
              / = inline_svg "svg/jut-1.svg"
              span 3
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor4 type="checkbox" 
            label.switcher-control for="apartaments-floor4"
              / = inline_svg "svg/jut-1.svg"
              span 4
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor5 type="checkbox" 
            label.switcher-control for="apartaments-floor5"
              / = inline_svg "svg/jut-1.svg"
              span 5
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor6 type="checkbox" 
            label.switcher-control for="apartaments-floor6"
              / = inline_svg "svg/jut-1.svg"
              span 6
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor7 type="checkbox" 
            label.switcher-control for="apartaments-floor7"
              / = inline_svg "svg/jut-1.svg"
              span 7
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor8 type="checkbox" 
            label.switcher-control for="apartaments-floor8"
              / = inline_svg "svg/jut-1.svg"
              span 8
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor9 type="checkbox" 
            label.switcher-control for="apartaments-floor9"
              / = inline_svg "svg/jut-1.svg"
              span 9
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor10 type="checkbox" 
            label.switcher-control for="apartaments-floor10"
              / = inline_svg "svg/jut-1.svg"
              span 10
        .one-checkbox.small-w
          .checkbox
            input#apartaments-floor11 type="checkbox" 
            label.switcher-control for="apartaments-floor11"
              / = inline_svg "svg/jut-1.svg"
              span 11+

  .accordion-button
    span Ремонт:
    = inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"

  .accordion-inner
    .checkbox-box
      .inner
        .one-checkbox
          .checkbox
            input#checkbox-repairs1 type="checkbox" 
            label.switcher-control for="checkbox-repairs1"
              / = inline_svg "svg/jut-1.svg"
              span Євроремонт

        .one-checkbox
          .checkbox
            input#checkbox-repairs2 type="checkbox" 
            label.switcher-control for="checkbox-repairs2"
              / = inline_svg "svg/jut-1.svg"
              span Голі стіни
        .one-checkbox
          .checkbox
            input#checkbox-repairs3 type="checkbox" 
            label.switcher-control for="checkbox-repairs3"
              / = inline_svg "svg/jut-1.svg"
              span USSR Style

        .one-checkbox
          .checkbox
            input#checkbox-repairs4 type="checkbox" 
            label.switcher-control for="checkbox-repairs4"
              / = inline_svg "svg/jut-1.svg"
              span Бомжірня


