.footer-container
  .footer-inner
    .row
      .large-3.columns
        .logo = inline_svg "svg/logo2.svg"
      .medium-4.large-2.columns
        .title Слідкуй за новинами:
        .socials
          .svg-box = inline_svg "svg/goggle.svg"
          .svg-box = inline_svg "svg/fb.svg"
          .svg-box = inline_svg "svg/twitter.svg"
      .medium-4.columns
        .title Будь у курсі нових пропозицій:
        .input-field.footer
          input#email name="email"
          label Введыть ваш e-mail
          span.bar
          button.svg = inline_svg "svg/arrow_right.svg"

      .large-3.medium-4.columns
        .title Контакти:
        a.number href="+380 93 456 23 45" +380 96 456 23 45
        a.number href="+380 96 453 22 42" +380 96 453 22 42
        
  .sub-footer
    .row
      .medium-6.columns
        .v-logo
          = inline_svg "svg/voronin-logo.svg"
          span
            | Розоробленно в устудії М.Вороніна
            br
            | у 2016 році
      .medium-6.columns

        .footer-nav
          ul
            li
              a.nav href=about_us_path Про нас
            li
              a.nav href="/" Житлова
            li
              a.nav href="/" Комерційна
            li
              a.nav href=managers_page_path Менеджери
            li
              a.nav href="/" Контакти
