.header-container class=("main-page-header" if current_page?('/'))
  a.logo href="/" = inline_svg "svg/logo.svg"
  a.phone href="" 
    | +38 &nbsp
    span
      |067 &nbsp
    |487 87 24

  .right-part
    a.comparison-box href=comparison_page_path
      = inline_svg "svg/switcher.svg"
      span
        |7
    .likes-box
      = inline_svg "svg/heart.svg"
      span
        |2
    
    .search-box.search-button
      = inline_svg "svg/search.svg"
      span
        |пошук нерухомості


    .hamburger.menu-button.hamburger--collapse
      .hamburger-box
        .hamburger-inner

  