.banner-wrap
  .clearfix
    .floated.square
      .img-bg style="background-image: url(#{asset_path('photo/banner-1.jpg')})"
    .floated.square
      .img-bg style="background-image: url(#{asset_path('photo/banner-2.jpg')})"
  .content-block
    .row
      .large-5.columns
        .inner
          .icon-box.blue-bg
            = inline_svg "svg/home-1-01.svg"
          .sub-title.smaller Нерухомість
          .title житлова
          ul.banner-box-navigation
            li
              a.nav-li href=""
                .svg-nav
                  = inline_svg "svg/jut-1.svg"
                  span.regular.blue-hover квартири
                .square.blue-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-1.jpg')})"
            li
              a.nav-li href=""
                .svg-nav
                  = inline_svg "svg/jut-2.svg"
                  span.regular.blue-hover земля
                .square.blue-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-3.jpg')})"
            li
              a.nav-li href=""
                .svg-nav 
                  = inline_svg "svg/jut-3.svg"
                  span.regular.blue-hover будинки
                .square.blue-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"

            

      .large-5.columns
        .inner
          .icon-box.orange-bg
            = inline_svg "svg/home-2.svg"
          .sub-title.smaller Нерухомість для
          .title бізнесу
          ul.banner-box-navigation
            li
              a.nav-li href=""
                .svg-nav
                  = inline_svg "svg/buis-1.svg"
                  span.regular.orange-hover квартири
                .square.orange-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-1.jpg')})"
            li
              a.nav-li href=""
                .svg-nav
                  = inline_svg "svg/buis-2.svg"
                  span.regular.orange-hover земля
                .square.orange-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-3.jpg')})"
            li
              a.nav-li href=""
                .svg-nav
                  = inline_svg "svg/buis-3.svg"
                  span.regular.orange-hover будинки
                .square.orange-border
                  .img-bg style="background-image: url(#{asset_path('photo/sample-4.jpg')})"