.baner-burger-menu
  .img-content-box
    .img-bg style="background-image: url(#{asset_path('photo/banner-1.jpg')})"
      .inner
        .icon-box.blue-bg
          = inline_svg "svg/home-1-01.svg"
        .title житлова
        ul.banner-box-navigation.burger
          li
            a.nav-li href=""
              .svg-nav
                = inline_svg "svg/jut-1.svg"
                span.regular.blue-hover квартири
          li
            a.nav-li href=""
              .svg-nav
                = inline_svg "svg/jut-2.svg"
                span.regular.blue-hover земля
              
          li
            a.nav-li href=""
              .svg-nav 
                = inline_svg "svg/jut-3.svg"
                span.regular.blue-hover будинки
              

  .img-content-box
    .img-bg style="background-image: url(#{asset_path('photo/banner-2.jpg')})"
      .inner
        .icon-box.orange-bg
          = inline_svg "svg/home-2.svg"
        .title бізнесу
        ul.banner-box-navigation.burger
          li
            a.nav-li href=""
              .svg-nav
                = inline_svg "svg/buis-1.svg"
                span.regular.orange-hover квартири
          li
            a.nav-li href=""
              .svg-nav
                = inline_svg "svg/buis-2.svg"
                span.regular.orange-hover земля
          li
            a.nav-li href=""
              .svg-nav
                = inline_svg "svg/buis-3.svg"
                span.regular.orange-hover будинки


  .bbm-nav-part
    .close-menu = inline_svg "svg/close.svg"
    .bbm-nav-box
      .title 
        |категорії:
        .line
      ul
        li.baner-link
          a href=root_path ГОЛОВНА

        li.baner-link
          a href=about_us_path Про нас

        li.baner-link
          a href=apartaments_page_path Житлова

        li.baner-link
          a href="/" бізнес

        li.baner-link
          a href=managers_page_path менеджери

        li.baner-link
          a href=contacts_path контакти

    .bbm-call-box
      .title 
        |телефони:
        .line

      a.number href="+380 96 458 7854"  
        |+38 &nbsp
        span
          |096&nbsp
        | 458&nbsp 78&nbsp 54

      a.number href="+380 67 451 4568"  
        |+38&nbsp
        span
          | 067&nbsp
        | 451&nbsp 45&nbsp 68

    .bbm-socials-box
      .title 
        |соціальні мережі:
        .line
      .socials.menu-bbm
        .svg-box.blue = inline_svg "svg/goggle.svg"
        .svg-box.blue = inline_svg "svg/fb.svg"
        .svg-box.blue = inline_svg "svg/twitter.svg"