.popup-one-apartament
  .close-popup = inline_svg "svg/close.svg"
  .inner
    .title направлення запиту
    .sub-title Ваша контактна інформація:
    form name="form"
      .input-field.with-border
        input#name name="name"
        label Ваше імя?
        = inline_svg "svg/person.svg"

      .input-field.with-border
        input#number name="number"
        label Ваш контактний телефон?
        = inline_svg "svg/telephone.svg"

      .input-field.with-border
        input#mail name="mail"
        label Ваш eмеіл?
        = inline_svg "svg/mail.svg"

      button.button.blue-bg відправити