.video-box
  .clearfix
    .floated.float-right
      = render "video_block"
    .floated.float-left
      .inner
        p Мережа Агентств Нерухомості "Маттіс" пропонує Вашій увазі широкий спектр послуг, повязаних із нерухомістю, до складу яких входять: операції купівлі - продажу нерухомості, коротко-і-довстрокова оренда, подобова оренда та комерційна оренда нерухомості.
        .line
        .signature.blue Андрій піголечка
