doctype html
html
  head
    / = seo_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .bg_cover
    = render "apartaments_filter_popup"
    = render "popup_one_apartament"
    = render "apartaments_filter_mobile"
    = render "apartaments_filter_mobile_price"
    = render "menu_box"
    - if @render_header != false
      = render "header"
    .main-wrapper
      = yield
    - if @render_footer != false
      = render "footer"
    
  script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC4-aRBPrIHL24LYFqCOB8pir_7zFC4XW4"

  = javascript_include_tag "application", 'data-turbolinks-track' => true